﻿@model KarYabiAsan.Models.ViewModels.Job_Category_ViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-hero overlay inner-page bg-image pb-0 pt-5" style="background-image: url(../../images/hero_1.jpg)" );" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <a href="">
                    <img class="" src="/@Model.Employer.Image" style="width: 100px;" />
                </a>
                <h2 class="employer-det-co-title d-inline-block mr-2">@Model.Employer.Name</h2>
                <a class="btn btn-success" asp-controller="Employers" asp-action="EditJob" asp-route-id="@Model.Job.JobId">ویرایش</a>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-4 mb-3">
                    <h5 class="txtclr1">معرفی مجموعه</h5>
                    <div class="">
                        @Model.Employer.Description
                    </div>
                </div>

                <div class="card p-4 mb-3">
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <h6 class="">دسته‌بندی شغلی</h6>
                            <div class="tags">
                                <span class="">@Model.JobCategory.Where(p => p.Id == Model.Job.CateGory).SingleOrDefault().Title</span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">موقعیت مکانی</h6>
                            <div class="tags">
                                <span class="">
                                    @Html.DisplayFor(model => model.Job.State)
                                    ، @Model.Job.Address
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">نوع همکاری</h6>
                            <div class="tags">
                                <span class="">
                                    @Html.DisplayFor(model => model.Job.Hamkari)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">حداقل سابقه کار</h6>
                            <div class="tags">
                                <span class="">@Model.Job.MinimumWorkExperience سال</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-12 my-3">

                        <h6 class="">شرح موقعیت شغلی</h6>
                        <div class="">
                            @Model.Job.Decription
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <h6 class="">مهارت‌های مورد نیاز</h6>
                            <div class="tags">
                                @{
                                    foreach (var item in Model.Job.Skills.Split(",").ToList())
                                    {
                                        <span class="">@item</span>
                                    }

                                }

                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">جنسیت</h6>
                            <div class="tags">
                                <span class="">@Html.DisplayFor(model => model.Job.Gender)</span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">وضعیت نظام وظیفه</h6>
                            <div class="tags">
                                <span class="">@Html.DisplayFor(model => model.Job.PayanKhedmat)</span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">حداقل مدرک تحصیلی</h6>
                            <div class="tags">
                                <span class="">@Html.DisplayFor(model => model.Job.Educate)</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>







            <div class="col-md-4 col-sm-12">

                <div class="js-fixedWidget o-fixedWidget" id="apply-form" style=" ">
                    <div class="js-simpleModal c-sharingJobOnMobile u-textCenter u-marginBottom40">

                        <div class="js-simpleModalContent c-sharingJobOnMobile__content">
                            <div class="c-sharingJobOnMobile__wrapper">



                                <a class="js-simpleModalCloser c-sharingJobOnMobile__closer" href="#">
                                    <i class="c-icon c-icon--16x16 c-icon--close"></i>
                                    بستن
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="o-fixedWidget__mobileDetector"></div>
                </div>

            </div>


            <div class="col-md-3 col-sm-12">

                <div class="o-box c-boxWidget">
                    <header class="c-boxWidget__header u-textCenter">
                        رزومه های ارسال شده
                    </header>
                    <div class="c-boxWidget__content c-boxWidget__content--noPadded">
                        @foreach (var item in (ViewBag.SendRezome as List<Rezome>))
                        {
                            <div class="card">
                                <a class=" c-boxFeatured c-boxFeatured--premium u-p15 u-block" asp-controller="Rezomes" asp-action="ShowRezome" asp-route-uq="@item.UinqCode">
                                    <span class="c-jobOverview c-jobOverview--primary">
                                        <span class="c-jobOverview__title c-jobOverview__title--premium u-paddingLeft25 u-inlineBlock">
                                            @item.OnvanShoghl
                                        </span>
                                        <ul class="c-jobOverview__info">
                                            <li class="c-jobOverview__infoItem">
                                                <img class="c-image--16XAuto" src="/@item.Image " />
                                            </li>

                                            <li class="c-jobOverview__infoItem">
                                                <i class="fa fa-map-marker"></i>
                                                <span class="c-jobOverview__label">@item.Skills</span>
                                            </li>
                                        </ul>
                                    </span>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

