﻿@model KarYabiAsan.Models.ViewModels.EployerJobViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section-hero overlay inner-page bg-image pt-5 pb-0" style="background-image: url(../../images/hero_1.jpg)" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 employer-det-main">
                <img class="" src="/@Model.Employer.Image" style="width: 100px;" />
                <h2 class="employer-det-co-title d-inline-block mr-2">@Model.Employer.Name</h2><hr class="bg-white" />
                <div>
                    <span class="txtclr1">نوع کارفرما : </span>
                    <span class="txtclrdark"> @Html.DisplayFor(model => model.Employer.ModeEmployer)</span>
                </div>
                <div>
                    <span class="txtclr1">شماره تماس : </span>
                    <span class="txtclrdark">@Html.DisplayFor(model => model.Employer.PhoneNumber)</span>
                </div>
                <div>
                    <span class="txtclr1">آدرس ایمیل :  </span>
                    <span class="txtclrdark">@Html.DisplayFor(model => model.Employer.EmailAddress)</span>
                </div>
                <div class="text-left">
                    <a asp-controller="Employers" asp-action="Edit" asp-route-id="@Model.Employer.ID" class="txtclrdark ">
                        <span class="fa fa-edit"></span>
                        <span>  ویرایش اطلاعات </span>
                    
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-md-6">
                <h4 class="text-center">معرفی @Model.Employer.Name</h4>
                <hr />
                <div class="">
                    <p class="text-justify fs-1">@Model.Employer.Description</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-12 text-center">
                <h4 class="">آگهی های استخدام</h4>
                <hr />
                <a class="c-btn c-btn--secondary2" asp-controller="Employers" asp-action="CreateJob" asp-route-Id="@Model.Employer.ID">
                    <span class="fa fa-plus-circle"></span>
                    <span>ایجاد آگهی استخدام جدید</span>
                </a>

            </div>
        </div>
        <div class="card-columns justify-content-center my-5">
            @{
                foreach (var item in Model.Jobs)
                {
                    <div class="card p-3">
                        <h6 class="txtclr1">@item.Title</h6>
                        <ul class="">
                            <li class="">
                                <i class="fa fa-map-marker"></i>
                                <span>
                                    @item.Address,@EnumExtensions.GetDisplayName(item.State) 
                                </span>
                            </li>
                            <li class="">
                                <i class="fa fa-clock-o"></i>
                                <span>
                                    <span>
                                        @Html.DisplayFor(modelItem => item.Hamkari)
                                    </span>
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-calendar"></i>
                                <span>
                                   @Appsetting.GetCreateDay(item.CreateDate)
                                </span>
                            </li>
                        </ul>
                        <div class="text-left">
                        <a class="c-btn c-btn--secondary3 py-2" asp-action="DetailsJobEmployer" asp-controller="Employers" asp-route-Id="@item.JobId">مشاهده جزئیات</a>
                            </div>
                    </div>
                }
            }
        </div>
    </div>
</section>