﻿@model KarYabiAsan.Models.ViewModels.Job_Category_ViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int EmployerId = int.Parse(ViewData["EmployerId"].ToString());
    //string EmployerName = ViewData["ComponyName"].ToString();
}

<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" );" id="home-section">
    <div class="container">
        <h1 class="text-white">آگهی استخدام جدید</h1>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="mb-4 text-center c-boxWidget__header">ویرایش آگهی استخدام</h3>

                <form id="frmCreate" asp-controller="Employers" asp-action="EditJob" class="p-5 card">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Job.JobId" />
                    <input type="hidden" asp-for="@Model.Job.Employer" />
                    <input type="hidden" asp-for="@Model.Job.CompanyName" />
                    <input type="hidden" asp-for="@Model.Job.ComponyImage" />
                    <input type="hidden" asp-for="@Model.Job.CreateDate" />
                    <input type="hidden" asp-for="@Model.Job.CreateDateShow" />
                    <div class="form-group">
                        <label asp-for="@Model.Job.Title" class="control-label"></label>
                        <input asp-for="@Model.Job.Title" class="form-control" />
                        <span asp-validation-for="@Model.Job.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.CateGory" class="control-label"></label>
                        <select asp-for="@Model.Job.CateGory" class="form-control"
                                asp-items="@(new SelectList(Model.JobCategory,"Id","Title"))">
                            <option>ِیک گزینه انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="@Model.Job.CateGory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.State" class="control-label"></label>
                        <select asp-for="@Model.Job.State" class="form-control"
                                asp-items="Html.GetEnumSelectList<States>()">
                        </select>
                        <span asp-validation-for="@Model.Job.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.Address" class="control-label"></label>
                        <input asp-for="@Model.Job.Address" class="form-control" />
                        <span asp-validation-for="@Model.Job.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.Hamkari" class="control-label"></label>
                        <select asp-for="@Model.Job.Hamkari"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<ModeHamkari>()">
                        </select>
                        <span asp-validation-for="@Model.Job.Hamkari" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.MinimumWorkExperience" class="control-label"></label>
                        <input asp-for="@Model.Job.MinimumWorkExperience" type="number" min="0" max="20" class="form-control" />
                        <span asp-validation-for="@Model.Job.MinimumWorkExperience" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.Salery" class="control-label"></label>
                        <input asp-for="@Model.Job.Salery" type="number" min="0" step="500000" class="form-control" />
                        <span asp-validation-for="@Model.Job.Salery" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.Decription" class="control-label"></label>
                        <textarea asp-for="@Model.Job.Decription" rows="6" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Job.Decription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.Skills" class="control-label"></label>
                        <input asp-for="@Model.Job.Skills" class="form-control" data-role="tagsinput" />
                        <span asp-validation-for="@Model.Job.Skills" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Job.Gender" class="control-label"></label>
                        <select asp-for="@Model.Job.Gender"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<ModeGender>()">
                        </select>
                        <span asp-validation-for="@Model.Job.Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.Educate" class="control-label"></label>
                        <select asp-for="@Model.Job.Educate"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<ModeEducate>()">
                        </select>
                        <span asp-validation-for="@Model.Job.Educate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Job.PayanKhedmat" class="control-label"></label>
                        <select asp-for="@Model.Job.PayanKhedmat"
                                class="form-control"
                                asp-items="Html.GetEnumSelectList<ModePayanKhedmat>()">
                        </select>
                        <span asp-validation-for="@Model.Job.PayanKhedmat" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="@Model.Job.IsEnable" class="check-mark" />
                        <label asp-for="@Model.Job.IsEnable" class="control-label"></label>
                        <span asp-validation-for="@Model.Job.IsEnable" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="@Model.Job.IsFori" class="check-mark" />
                        <label asp-for="@Model.Job.IsFori" class="control-label"></label>
                        <span asp-validation-for="@Model.Job.IsFori" class="text-danger"></span>
                    </div>
                    <div class="form-group mr-auto">
                        <input type="submit" value="ویرایش آگهی" class="c-btn c-btn--secondary2 px-5" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#frmCreate').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
}
