﻿@model KarYabiAsan.Models.Employer

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-hero overlay inner-page bg-image" style="  background-image: url(../../images/hero_1.jpg)" );" id="home-section">
    <div class="container">
                <h2 class="text-white mt-4">بخش کارفرمایان</h2>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="mb-4 text-center c-boxWidget__header">ورود کارفرما</h3>

                <form asp-controller="Employers" asp-action="LogIn" class="p-5 card">
                    <div class="text-danger">

                        @Html.ValidationMessageFor(m => m.PhoneNumber)

                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />

                    </div>
                    <div class="form-group mr-auto">
                        <input type="submit" value="ورود" class="c-btn c-btn--secondary2 px-5" />
                    </div>
                    <div>
                        <span>حساب کاربری ندارید؟</span>
                        <a asp-controller="Employers" asp-action="Create" class="txtclr1 font-weight-bold">
                            ثبت نام کنید
                        </a>
                    </div>
                </form>
               

            </div>
          
             
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
