﻿
@{
    ViewData["Title"] = "SendValidateCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" id="home-section">
    <div class="container">
        <h2 class="text-white mt-4">ورود کد تایید</h2>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="mb-4 text-center c-boxWidget__header">ورود کد تایید</h2>
                <form asp-controller="Employers" asp-action="VeriFyUserCode" class="p-5 card">
                    <input type="hidden" name="Un" value="@ViewBag.Un" />
                    <input type="hidden" name="Ps" value="@ViewBag.Ps" />
                    <h5>کد تایید را وارد کنید</h5>
                    <input type="hidden" name="PhoneNumber" value="@ViewBag.PhoneNumber" />
                    <div class="form-group">

                        <input type="text" maxlength="4" name="Code" placeholder="کد تایید" class="form-control" />
                    </div>
                    <div class="container-login100-form-btn">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <div class="container-login100-form-btn">
                        <p>زمان مانده : <span class="js-timeout">2:00</span></p>
                    </div>


                    <div class="form-group m-auto karj">
                        <input type="submit" value="تایید کد" class="c-btn c-btn--secondary2 px-5" />
                        <a class="c-btn c-btn--secondary2 px-5" onclick="SendMEssageAgain()">
                            ارسال مجدد
                        </a>
                    </div>


                </form>
            </div>

        </div>
    </div>
</section>




@*

        <div class="container-login100 " dir="rtl">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                <form asp-controller="jobsearchers" asp-action="VeriFyUserCode" class="login100-form validate-form">
                    <input type="hidden" name="Un" value="@ViewBag.Un" />
                    <input type="hidden" name="Ps" value="@ViewBag.Ps" />
                    <span class="login100-form-title p-b-37">
                        کد تایید را وارد کنید
                    </span>
                    <input type="hidden" name="PhoneNumber" value="@ViewBag.PhoneNumber" />
                    <div class="wrap-input100 validate-input m-b-20" data-validate="کد تایید را وارد کنید">
                        <input class="input100" type="text" maxlength="4" name="Code" placeholder="کد تایید">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>




                  <div class="text-center">
                            <a asp-controller="Users" asp-action="LogIn" class="txt2 hov1">
                                ورود
                            </a>
                        </div>
            </form>


        </div>
    </div>*@


@section Scripts{
    <script>
        var interval;
        countdown();
        function countdown() {
            $('.js-timeout').removeClass("HiddenItem");
            $('#js-resetTimer').addClass("HiddenItem");
            clearInterval(interval);
            interval = setInterval(function () {
                var timer = $('.js-timeout').html();
                timer = timer.split(':');
                var minutes = timer[0];
                var seconds = timer[1];
                seconds -= 1;
                if (minutes < 0) return;
                else if (seconds < 0 && minutes != 0) {
                    minutes -= 1;
                    seconds = 59;
                }
                else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;

                $('.js-timeout').html(minutes + ':' + seconds);

                if (minutes == 0 && seconds == 0) {
                    $('#js-resetTimer').removeClass("HiddenItem");
                    $('.js-timeout').addClass("HiddenItem");
                    clearInterval(interval);
                }
            }, 1000);
        }


        function SendMEssageAgain() {
            $.ajax({
                type: "POST",
                url: "/Employers/SendMessageAgain/",
                data: {},
                dataType: "Json",
                success: function (result) {
                    if (result == 1) {
                        $('.js-timeout').text("2:00");
                        clearInterval(interval);
                        countdown();
                    }
                    else if (result == 0) {
                        $.toast({
                            heading: 'خطا',
                            text: 'تعداد تلاش برای ارسال پیامک بیشتر از 5 بار است لطفا بعدا تلاش کنید',
                            icon: 'error',
                            loader: true,
                            showHideTransition: 'fade'
                        });
                    }
                },
                error: function (req, status, error) {



                }
            });
            
        }
    </script>
}

