﻿@model KarYabiAsan.Models.jobsearcher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" id="home-section">
    <div class="container">

        <h1 class="text-white mt-4">ثبت نام کارجو</h1>

    </div>
</section>
@*<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h3 class="mb-4 text-center c-boxWidget__header">ثبت نام کارجو</h3>
                <form asp-action="Create" class="p-5 card">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mr-auto karj">
                        <input type="submit" value="ثبت نام" class="c-btn c-btn--secondary2 px-5" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
