﻿@model KarYabiAsan.Models.jobsearcher

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-hero overlay inner-page bg-image pt-5 pb-0" style="background-image: url(../../images/hero_1.jpg)" );" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <a href="">
                    @* todo *@
                    @* آدرس تصویر کارجو  *@
                    <img class="" src="" style="width: 100px;">
                </a>

                <h2 class="employer-det-co-title d-inline-block mr-2">@Model.Name </h2>
            </div>
            <div class="col-12 text-center karj">
                <a class="c-btn c-btn--secondary2 px-3" asp-controller="Rezomes" asp-action="CreateRezome">رزومه ساز</a>
                <a class="c-btn c-btn--secondary2 px-3" asp-controller="Rezomes" asp-action="ShowRezomeForUser">مشاهده رزومه</a>
                <a class="c-btn c-btn--secondary2 px-4" asp-controller="jobsearchers" asp-action="Exit">خروج</a>
            </div>
        </div>
    </div>
</section>


<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card p-4 mb-3">
                    <h5>تنظیمات حساب کاربری</h5>
                    <hr />
                    <form asp-controller="jobsearchers" asp-action="Edit">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="UserID" />
                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="UinqCode" />

                        <h5 class="mt-3">تغییر آدرس ایمیل</h5>

                        <div class="form-group">
                            <label class="">آدرس ایمیل</label>
                            <input type="text" asp-for="Email" value="@Model.Email" data-email="@Model.Email" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید">
                            <span class="">این ایمیل فعلی شماست، میتوانید آن را تغییر دهید.</span>
                        </div>

                        <h5 class="mt-5">اطلاعات شخصی</h5>

                        <div class="form-group">
                            <label class="">نام و نام خانوادگی</label>
                            <input class="form-control" type="text" asp-for="Name" value="@Model.Name">
                        </div>

                        <div class="form-group">
                            <label class="">شماره تماس</label>
                            <input class="form-control" type="text" asp-for="Phone" value="@Model.Phone">
                        </div>

                        <div class="form-group karj text-left mb-3">
                            <input class="c-btn c-btn--secondary2 px-5" name="submit" type="submit" value="ذخیره کردن تغییرات">
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-md-4 col-sm-12">

                <div class="p-2 mb-3">
                    <h5 class="text-center py-2">
                        شغل های نشان شده
                    </h5>
                    <div>
                        @foreach (var item in (ViewBag.PinJob as List<Job>))
                        {
                            <a class="card c-boxFeatured c-boxFeatured--rowBorder u-block mb-2" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">
                                <span class="c-jobOverview c-jobOverview--primary">
                                    <span class="c-jobOverview__title c-jobOverview__title--premium u-paddingLeft25 u-inlineBlock">
                                        @item.Title
                                    </span>
                                    <ul class="c-jobOverview__info">
                                        <li class="c-jobOverview__infoItem">
                                            <span class="c-jobOverview__label">@item.CompanyName</span>
                                        </li>
                                        <li class="c-jobOverview__infoItem">
                                            <i class="fa fa-building"></i>
                                            <span class="c-jobOverview__label">@item.Address</span>
                                        </li>
                                        <li class="c-jobOverview__infoItem c-jobOverview__skills hidden-xs hidden-md">
                                            <i class="fa fa-wrench"></i>
                                            <span class="c-jobOverview__label">@item.Skills</span>
                                        </li>
                                    </ul>
                                </span>
                            </a>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">

                <div class="p-2 mb-3">
                    <h5 class="text-center py-2">
                        رزومه های ارسال شده
                    </h5>
                    <div>
                        @foreach (var item in (ViewBag.SendRezome as List<Job>))
                        {
                            <a class="card c-boxFeatured c-boxFeatured--rowBorder u-block mb-2" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">
                                <span class="c-jobOverview c-jobOverview--primary karj">
                                    <span class="c-jobOverview__title c-jobOverview__title--premium u-paddingLeft25 u-inlineBlock">
                                        @item.Title
                                    </span>
                                    <ul class="c-jobOverview__info">
                                        <li class="c-jobOverview__infoItem">
                                            <span class="c-jobOverview__label">@item.CompanyName</span>
                                        </li>
                                        <li class="c-jobOverview__infoItem">
                                            <i class="fa fa-building"></i>
                                            <span class="c-jobOverview__label">@item.Address</span>
                                        </li>
                                        <li class="c-jobOverview__infoItem c-jobOverview__skills hidden-xs hidden-md">
                                            <i class="fa fa-wrench"></i>
                                            <span class="c-jobOverview__label">@item.Skills</span>
                                        </li>
                                    </ul>
                                </span>
                            </a>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">

                <div class="p-2 mb-3">
                    <h5 class="text-center py-2">
                        رزومه های ارسال شده
                    </h5>
                    <div>
                        @foreach (var item in (ViewBag.SendHamkari as List<HamkariRequest>))
                        {
                            <div class="card c-boxFeatured c-boxFeatured--rowBorder u-block mb-2">
                                <span class="c-jobOverview c-jobOverview--primary karj">
                                    <span class="c-jobOverview__title c-jobOverview__title--premium u-paddingLeft25 u-inlineBlock">
                                        @item.EmployerName
                                    </span>
                                    <ul class="c-jobOverview__info">
                                        <li class="c-jobOverview__infoItem c-jobOverview__skills hidden-xs hidden-md">
                                            <i class="fa fa-wrench"></i>
                                            <span class="c-jobOverview__label">@item.RequestDateShow</span>
                                        </li>
                                    </ul>
                                </span>
                                <span>
                                    <button class="btn btn-light border w-100 my-1" title="درخواست همکاری" onclick="ConfirmHamkariRequest(@item.Id)">
                                        @if (item.IsConfirmed)
                                        {
                                            <span class="fa fa-check-double" data-RequestHamkari="@item.Id"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-handshake-o" data-RequestHamkari="@item.Id"></span>
                                        }
                                        <span style="font-size:13px;">قبول درخواست</span>
                                    </button>
                                </span>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{ 
<script>
    function ConfirmHamkariRequest(IdRquest) {
        $.ajax({
            type: "POST",
            url: "/jobsearchers/ConfirmHamkariRequest/",
            data: { IdRquest: IdRquest },
            dataType: "Json",
            success: function (result) {
                console.log(result);
                if (result == 1) {
                    $('span[data-RequestHamkari= ' + IdRquest + ']').removeClass('fa-handshake-o');
                    $('span[data-RequestHamkari= ' + IdRquest + ']').addClass('fa-check-double');
                }
                if (result == 0) {
                    $('span[data-RequestHamkari= ' + IdRquest + ']').removeClass('fa-check-double');
                    $('span[data-RequestHamkari= ' + IdRquest + ']').addClass('fa-handshake-o');
                }
                if (result == -1) {
                    $.toast({
                        heading: 'خطا',
                        text: 'برای درخواست همکاری باید ابتدا ورود داشته باشید.',
                        icon: 'error',
                        loader: true,
                        showHideTransition: 'fade'
                    });
                    return;
                }

            },
            error: function (req, status, error) {



            }
        });
    }
</script>
}