﻿@model KarYabiAsan.Models.jobsearcher
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" id="home-section">
    <div class="container">

        <h2 class="text-white mt-4">بخش کارجویان</h2>


    </div>
</section>
@*<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4 text-center c-boxWidget__header">ورود کارجو</h2>
                <form asp-controller="jobsearchers" asp-action="LogIn" class="p-5 card">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mr-auto karj">
                        <input type="submit" value="ورود" class="c-btn c-btn--secondary2 px-5" />
                    </div>

                    <div>
                        <span>حساب کاربری ندارید؟</span>
                        <a asp-controller="jobsearchers" asp-action="Create" class="txtclr2 font-weight-bold">
                            ثبت نام کنید
                        </a>
                    </div>
                </form>
            </div>





        </div>
    </div>
</section>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
