﻿@model IEnumerable<Job>
@{
    Layout = null;
}

<div class="card">

    <h5 class="txtclrdark text-center mt-3">مشاغل مشابه</h5>
    <hr/>
      
            <ul class="">
                @foreach (var item in Model)
                {
                    <li class="">
                        <div class="o-listView__itemWrap c-jobListView__itemWrap u-clearFix">
                            <div class="o-listView__itemInfo">
                                <a class="o-listView__itemIndicator o-listView__itemIndicator--noPaddingBox" target="_blank">
                                    <img class="o-listView__itemIndicatorImage center" src="/@item.ComponyImage">
                                </a>
                                <h3 class="o-listView__itemTitle c-jobListView__title">
                                    <a class="c-jobListView__titleLink" target="_blank" style="display:inherit;">
                                        @item.Title
                                    </a>
                                    <span class="c-jobListView__passedDays d-block">

                                        (@Appsetting.GetCreateDay(item.CreateDate) )

                                    </span>
                                </h3>
                                <ul class="o-listView__itemComplementInfo c-jobListView__meta">
                                    <li class="c-jobListView__metaItem">
                                        <i class="fa fa-building"></i>
                                        <span>@item.CompanyName</span>
                                    </li>
                                    <li class="c-jobListView__metaItem">
                                        <i class="fa fa-map-marker"></i>
                                        <span>
                                            @Html.DisplayFor(modelItem => item.State)، @item.Address
                                        </span>
                                    </li>
                                    <li class="c-jobListView__metaItem">
                                        <i class="fa fa-clipboard"></i>
                                        <span>
                                            <span>
                                                قرارداد
                                                @Html.DisplayFor(modelItem => item.Hamkari)
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="o-listView__itemControls c-jobListView__itemControls">

                                <a class="btn btn-primary border w-100 my-1 py-2 btn-sm" target="_blank" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">
                                    مشاهده جزئیات
                                </a>
                                <button class="btn btn-info border w-100 my-1" title="نشان کردن" onclick="SendRezome(@item.JobId)">
                                    <span class="fa @(item.IsSend?"fa-check":"fa-address-card") " data-sendrezome="@item.JobId"></span>
                                    <span style="font-size:13px;">ارسال رزومه</span>
                                </button>
                                <button id="" class="btn btn-danger border w-100 my-1" title="نشان کردن" onclick="PinJob(@item.JobId)">
                                    <span class="">
                                        <i class="fa @(item.IsPinned?"fa-star":"fa-star-o")" data-jobid="@item.JobId"></i>
                                        @*<i class="fa fa-star" data-jobid="@item.JobId" style="display: none;"></i>*@
                                    </span>
                                    <span style="font-size:13px;" class="">
                                        <span class="" style="font-size:13px;">نشان کردن</span>
                                        <span class="" style="display: none;">حذف نشان</span>
                                    </span>
                                </button>

                            </div>
                        </div>
                    </li>
                    <hr/>
                }
            </ul>
   </div>
