﻿@model KarYabiAsan.Models.ViewModels.JobSearcherRezomeViewModel

@{
    ViewData["Title"] = "CreateRezome";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsEdite = false;
    if (ViewBag.IsEdite != null)
    {
        IsEdite = ViewBag.IsEdite;

    }
}

<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" );" id="home-section">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-7">
                <h2 class="text-white font-weight-bold">ایجاد رزومه</h2>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-9 rezomesazmain">
                <form id="frmCreate" asp-action="CreateRezome" asp-controller="Rezomes" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.Rezome.JobSearcheCode" value="@Model.jobsearcher.UinqCode" />
                    <input type="hidden" asp-for="@Model.Rezome.Id" />
                    <input type="hidden" asp-for="@Model.Rezome.Image" />
                    <input type="hidden" asp-for="@Model.Rezome.UinqCode" />
                    <input type="hidden" asp-for="@Model.Rezome.IsEdited" name="IsEdite" value="@IsEdite" />

                    <div class="card py-3 px-4 mb-3">
                        <div class="row">
                            <div class="rezome-section-title col-12">
                                <span class="fa fa-2x fa-address-card"></span>
                                <span class="titr">اطلاعات کلی</span>
                            </div>

                            <div class="col-sm-12 col-md-3">
                                <img id="blah" src="@(Model.Rezome!=null?"/"+Model.Rezome.Image:"/RezomePic/img_avatar.png")" alt="your image" class="avatar" />
                                <input type="file" id="imgInp" name="Image" class="FileUploadbtn">
                            </div>
                            <div class="col-sm-12 col-md-9">

                                <div class="form-group">
                                    <label>نام و نام خانوادگی</label>

                                    <input class="form-control" asp-for="@Model.Rezome.NameAndUserName" type="text">

                                </div>

                                <div class="form-group">
                                    <label>عنوان شغلی</label>

                                    <input class="form-control" asp-for="@Model.Rezome.OnvanShoghl" type="text">

                                </div>

                                <div class="form-group">
                                    <label>وضعیت اشتغال</label>
                                    <input id="__basicData--seekingStatus" type="hidden" value="seeking">

                                    <select class="form-control" asp-for="@Model.Rezome.StateEshteghal"
                                            asp-items="Html.GetEnumSelectList<ModeStateEshteghal>()">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>دسته بندی رزومه</label>

                                    <select class="form-control" asp-for="@Model.Rezome.RezomeCategory"
                                            asp-items="@(new SelectList(Model.jobCategories,"Id","Title"))">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card py-3 px-4 mb-3">
                        <div class="row">
                            <div class="rezome-section-title col-12">
                                <span class="fa fa-2x fa-user-circle"></span>
                                <span class="titr">اطلاعات فردی</span>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>آدرس ایمیل</label>
                                @*<span class="d-block">@Model.jobsearcher.Email</span>*@
                                <input class="form-control" asp-for="@Model.Rezome.Email" value="@Model.Rezome.Email" type="email" />
                                <span asp-validation-for="@Model.Rezome.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>شماره موبایل</label>
                                <input class="form-control" asp-for="@Model.Rezome.PhoneNumber" value="@Model.jobsearcher.Phone" type="text" maxlength="11" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                                <span asp-validation-for="@Model.Rezome.PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>استان محل سکونت</label>
                                <select class="form-control" asp-for="@Model.Rezome.State"
                                        asp-items="Html.GetEnumSelectList<States>()">
                                </select>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>آدرس محل سکونت</label>
                                <input class="form-control" asp-for="@Model.Rezome.Location" />
                                <span asp-validation-for="@Model.Rezome.Location" class="text-danger"></span>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>وضعیت تاهل</label>

                                <select class="form-control" asp-for="@Model.Rezome.Taahol"
                                        asp-items="Html.GetEnumSelectList<ModeTaahol>()">
                                </select>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>سال تولد</label>
                                <input class="form-control" asp-for="@Model.Rezome.YearOfBrithday" type="text" maxlength="4" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>جنسیت</label>
                                <select class="form-control" asp-for="@Model.Rezome.Gender"
                                        asp-items="Html.GetEnumSelectList<ModeGender>()">
                                </select>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>وضعیت خدمت سربازی</label>
                                <select class="form-control" asp-for="@Model.Rezome.PayanKhedmat"
                                        asp-items="Html.GetEnumSelectList<ModePayanKhedmat>()">
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="card py-3 px-4 mb-3">
                        <div class="row">
                            <div class="rezome-section-title col-12">
                                <span class="fa fa-2x fa-id-badge"></span>
                                <span class="titr">درباره من</span>
                            </div>
                            <div class="col-md-12">
                                <textarea asp-for="@Model.Rezome.AboutMe" class="form-control" rows="6"></textarea>
                                <span asp-validation-for="@Model.Rezome.AboutMe" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="card py-3 px-4 mb-3">
                        <div class="row">
                            <div class="rezome-section-title col-12">
                                <span class="fa fa-wrench fa-2x"></span>
                                <span class="titr">مهارت ها</span>
                            </div>
                            <p>پس از درج هر مهارت کلید ENTER را بزنید</p>
                            <div class="col-12">
                                <input asp-for="@Model.Rezome.Skills" class="form-control tag-appear-enter" data-role="tagsinput" />
                                <span asp-validation-for="@Model.Rezome.Skills" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="@Model.Rezome._WorkExperiences" id="WorkExperiences" />


                    <div class="card py-3 px-4 mb-3" id="SavabeghShoghli">
                        <div class="row">
                            <div class="rezome-section-title col-12">
                                <span class="fa fa-building fa-2x"></span>
                                <span class="titr">سوابق شغلی</span>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>عنوان شغلی(سمت)</label>
                                <input class="form-control" id="Sabeghe_OnvanShoghl" type="text">
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>نام شرکت</label>
                                <input class="form-control" id="Sabeghe_NameSherkat" type="text">
                            </div>

                            <div class="col-12">
                                <label class="">تاریخ اشتغال</label>
                                <span class="d-block my-2">از</span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" id="Sabeghe_StartDateMonth"
                                                asp-items="Html.GetEnumSelectList<ModeMonth>()">
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control dir-ltr" type="text" min="1300" maxlength="4" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" placeholder="سال شروع همکاری" id="Sabeghe_StartDateYear">
                                    </div>
                                </div>
                                <span class="d-block my-2">تا</span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control" id="Sabeghe_EndDateMonth"
                                                asp-items="Html.GetEnumSelectList<ModeMonth>()">
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control dir-ltr" type="text" min="1300" maxlength="4" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" placeholder="سال پایان همکاری" id="Sabeghe_EndDateYear">
                                    </div>
                                </div>
                                <input class="my-4" type="checkbox" id="Sabeghe_StillInWork" /><span>هنوز مشغول به کارم</span>
                            </div>
                            <div class="form-group col-12">
                                <label>
                                    توضیحات
                                    <span>(اختیاری)</span>
                                </label>

                                <textarea class="form-control" id="Sabeghe_Description" rows="3" cols="80"></textarea>
                            </div>
                            <div class="col-12 karj text-left mb-3">
                                <button class="c-btn c-btn--secondary2 px-5" type="button" onclick="SaveSabeghe();">
                                    ثبت سابقه شغلی
                                </button>
                            </div>
                            <div class="col-12 card-columns" id="SabegheDiv"></div>
                        </div>
                    </div>



                    <input type="hidden" asp-for="@Model.Rezome._Educationalbackgrounds" id="Educationalbackgrounds" />


                    <div class="card py-3 px-4 mb-3" id="SavabeghShoghli">
                        <div class="row">
                            <div class="rezome-section-title col-12">
                                <span class="fa fa-graduation-cap fa-2x"></span>
                                <span class="titr">سوابق تحصیلی</span>
                            </div>


                            <div class="form-group col-sm-12 col-md-6">
                                <label>رشته تحصیلی</label>
                                <input class="form-control" id="Tahsil_Reshte" type="text">
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>نام دانشگاه / موسسه آموزشی</label>
                                <input class="form-control" id="Tahsil_Daneshgah" type="text">
                            </div>

                            <div class="form-group col-12">
                                <label>مقطع تحصیلی</label>
                                <input id="__educationLevel--CZTC" type="hidden" value="bachelor">
                                <select class="form-control" id="Tahsil_Educate"
                                        asp-items="Html.GetEnumSelectList<ModeEducate>()">
                                </select>
                            </div>

                            <div class="col-12">
                                <label>تاریخ شروع و پایان تحصیل</label>
                                <div class="mb-2">

                                    <span>از سال</span>
                                    <div class="d-inline-block">
                                        <input id="Tahsil_StartYear" class="form-control dir-ltr" type="text" min="1300" maxlength="4" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" placeholder="سال شروع به تحصیل">
                                    </div>
                                </div>
                                <div>
                                    <span>تا سال</span>

                                    <div class="d-inline-block">
                                        <input class="form-control dir-ltr" id="Tahsil_EndYear" min="1300" type="text" maxlength="4" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" placeholder="سال فارغ التحصیلی">
                                    </div>

                                </div>
                                <input class="my-4" type="checkbox" id="Tahsil_StillInDaneshgah" /><span>هنوز مشغول به تحصیلم</span>

                            </div>

                            <div class="form-group col-12">
                                <label>
                                    توضیحات
                                    <span>
                                        (اختیاری)
                                    </span>
                                </label>
                                <textarea class="form-control" id="Tahsil_Description" rows="3" cols="80"></textarea>
                            </div>

                            <div class="col-12 karj text-left">

                                <button class="c-btn c-btn--secondary2 px-5 mb-3" type="button" onclick="SaveTahsil();">
                                    ثبت سابقه تحصیلی
                                </button>
                            </div>
                            <div class="col-12 card-columns" id="TahsilDive"></div>

                        </div>
                    </div>





                    <input type="hidden" asp-for="@Model.Rezome._Lanquege" id="LanquegeJson" />

                    <div class="card py-3 px-4 mb-3" id="SavabeghShoghli">
                        <div class="row">
                            <div class="rezome-section-title col-12">
                                <span class="fa fa-globe fa-2x"></span>
                                <span class="titr">زبان های خارجی</span>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>نام زبان</label>
                                <select class="form-control" id="Zaban_Lanquege"
                                        asp-items="Html.GetEnumSelectList<ModeLanquege>()">
                                </select>
                            </div>

                            <div class="form-group col-sm-12 col-md-6">
                                <label>سطح تسلط</label>
                                <select class="form-control" id="Zaban_Level"
                                        asp-items="Html.GetEnumSelectList<SkillsLevel>()">
                                </select>
                            </div>

                            <div class="col-12 karj text-left mb-3">
                                <button class="c-btn c-btn--secondary2 px-5" type="button" onclick="SaveLanquage();">
                                    ثبت زبان
                                </button>
                            </div>

                            <div class="col-12 card-columns" id="DivLanquage"></div>
                        </div>
                    </div>
                    <div class="col-12 my-4">
                        <input class="c-btn c-btn--secondary2 px-5 w-100" type="submit" value="ثبت نهایی رزومه" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script>
        $(document).ready(function () {
            var LanqJson = $('#LanquegeJson').val();
            if (LanqJson != undefined) {
                LanquageList = JSON.parse(LanqJson);
                RefreshLanitems();
            }

            var EducationalbackgroundsJson = $('#Educationalbackgrounds').val();
            if (EducationalbackgroundsJson != undefined) {
                TahsilList = JSON.parse(EducationalbackgroundsJson);
                TahsilId = Math.max.apply(Math, TahsilList.map(function (o) { return o.ID; }))
                RefreshTahsilitems();
            }

            var SabegheJson = $('#WorkExperiences').val();
            if (SabegheJson != undefined) {
                SabegheList = JSON.parse(SabegheJson);
                SabeghelId = Math.max.apply(Math, SabegheList.map(function (o) { return o.ID; }))
                RefreshSabegheitems();
            }
        });
    </script>

    <script src="~/lib/jquery/dist/handlebars.js"></script>
    @*افزودن سابقه کاری*@
    <script id="SabegheTemplate" type="text/x-handlebars-template">
        {{#each Sabeghs}}
        <div class="card p-2">
            <h6>{{JobTitle}}</h6>

            <span class="d-block"><span>شرکت </span>{{CompanyName}}</span>
            <span class="d-block">
                از {{StartYear}} تا {{EndYear}}
            </span>
            <span class="btn btn-danger float-left" data-Id="{{ID}}" onclick="DeleteSabegheObject(this);">
                <span class="fa fa-times text-white"></span>
            </span>
        </div>
        {{/each}}
    </script>

    <script>
        var SabegheList = [];
        var SabeghelId = 0;
        function DeleteSabegheObject(btn) {
            console.log(btn);
            SabegheList = $.grep(SabegheList, function (e) {
                var id = $(btn).data('id');
                console.log(id);
                return e.ID != id
            });
            $("#SabegheDiv").html("");
            RefreshSabegheitems();
        }
        function SaveSabeghe() {
            var Sabeghe = {};
            Sabeghe.ID = SabeghelId;
            Sabeghe.JobTitle = $('#Sabeghe_OnvanShoghl').val();
            Sabeghe.CompanyName = $('#Sabeghe_NameSherkat').val();
            Sabeghe.StartMonth = $('#Sabeghe_StartDateMonth').val();
            Sabeghe.StartYear = $('#Sabeghe_StartDateYear').val();
            Sabeghe.EndMonth = $('#Sabeghe_EndDateMonth').val();
            Sabeghe.EndYear = $('#Sabeghe_EndDateYear').val();
            Sabeghe.StillInJob = $('#Sabeghe_StillInWork').prop("checked");
            Sabeghe.Description = $('#Sabeghe_Description').val();
            if (Sabeghe.JobTitle == "" || Sabeghe.CompanyName == "" || Sabeghe.StartYear == "" || Sabeghe.EndYear == "") {
                $.toast({
                    heading: 'خطا',
                    text: 'فیلد های  اجباری را پر کنید',
                    icon: 'error',
                    loader: true,
                    showHideTransition: 'fade'
                })
                return;
            }

            $("#SabegheDiv").empty();

            SabegheList.push(Sabeghe);

            RefreshSabegheitems();

            $('#Sabeghe_OnvanShoghl').val("");
            $('#Sabeghe_NameSherkat').val("");
            $('#Sabeghe_StartDateMonth').val("1");
            $('#Sabeghe_StartDateYear').val("");
            $('#Sabeghe_EndDateMonth').val("1");
            $('#Sabeghe_EndDateYear').val("");
            $('#Sabeghe_StillInWork').prop('checked', false);
            $('#Sabeghe_Description').val("");


            SabeghelId++;
        }
        function RefreshSabegheitems() {
            var source = $("#SabegheTemplate").html();
            var template = Handlebars.compile(source);
            var context = {
                Sabeghs: SabegheList
            }
            var html = template(context);
            $("#SabegheDiv").append(html);
            $('#WorkExperiences').val("");
            $('#WorkExperiences').val(JSON.stringify(SabegheList));
        }
    </script>




    <script id="TahsilTemplate" type="text/x-handlebars-template">
        {{#each Tahsils}}
        <div class="card p-2">
            <h6> {{EducationFeild}}</h6>
            <span class="d-block">{{CollageName}}</span>
            <span class="d-block">
                از {{StartDate}} تا {{EndDate}}
            </span>
            <span class="btn btn-danger float-left" data-Id="{{ID}}" onclick="DeleteTahsilObject(this);">
                <span class="fa fa-times text-white"></span>
            </span>
        </div>
        {{/each}}
    </script>


    <script>
        var TahsilList = [];
        var TahsilId = 0;


        function DeleteTahsilObject(btn) {
            console.log(btn);
            TahsilList = $.grep(TahsilList, function (e) {
                var id = $(btn).data('id');
                console.log(id);
                return e.ID != id
            });
            $("#TahsilDive").html("");
            RefreshTahsilitems();

        }


        function SaveTahsil() {
            var Tahsil = {};
            Tahsil.ID = TahsilId;
            Tahsil.EducationFeild = $('#Tahsil_Reshte').val();
            Tahsil.CollageName = $('#Tahsil_Daneshgah').val();
            Tahsil.Educate = $('#Tahsil_Educate').val();
            Tahsil.StartDate = $('#Tahsil_StartYear').val();
            Tahsil.EndDate = $('#Tahsil_EndYear').val();
            Tahsil.Description = $('#Tahsil_Description').val();
            Tahsil.StillIdCollage = $('#Tahsil_StillInDaneshgah').prop("checked");
            if (Tahsil.EducationFeild == "" || Tahsil.CollageName == "" || Tahsil.StartDate == "" || Tahsil.EndDate == "") {
                $.toast({
                    heading: 'خطا',
                    text: 'فیلد های  اجباری را پر کنید',
                    icon: 'error',
                    loader: true,
                    showHideTransition: 'fade'
                })
                return;
            }

            $("#TahsilDive").empty();

            TahsilList.push(Tahsil);

            RefreshTahsilitems();

            $('#Tahsil_Reshte').val("");
            $('#Tahsil_Daneshgah').val("");
            $('#Tahsil_Educate').val("1");
            $('#Tahsil_StartYear').val("");
            $('#Tahsil_EndYear').val("1");
            $('#Tahsil_Description').val("");
            $('#Tahsil_StillInDaneshgah').prop('checked', false);

            TahsilId++;
        }
        function RefreshTahsilitems() {
            var source = $("#TahsilTemplate").html();
            var template = Handlebars.compile(source);
            var context = {
                Tahsils: TahsilList
            }
            var html = template(context);
            $("#TahsilDive").append(html);
            $('#Educationalbackgrounds').val("");
            $('#Educationalbackgrounds').val(JSON.stringify(TahsilList));
        }
    </script>



    @*زبان*@
    <script id="LanqTemplate" type="text/x-handlebars-template">
        {{#each Lanquages}}
        <div class="card p-2">
            <span> زبان {{LanquegeText}} : </span>
            <span>{{LevelText}}</span>
            <span class="btn btn-danger float-left" data-Id="{{LanName}}" onclick="DeleteLanObject(this);">
                <span class="fa fa-times text-white"></span>
            </span>
        </div>
        {{/each}}
    </script>


    <script>
        function DeleteLanObject(btn) {
            console.log(btn);
            LanquageList = $.grep(LanquageList, function (e) {
                var id = $(btn).data('id');
                console.log(id);
                return e.LanName != id
            });
            console.log(LanquageList);
            $("#DivLanquage").html("");
            RefreshLanitems();

        }
        var LanquageList = [];
        function SaveLanquage() {
            var Lanquage = {};
            Lanquage.LanName = $('#Zaban_Lanquege').val();
            Lanquage.LanquegeText = $('#Zaban_Lanquege').children("option:selected").text();

            Lanquage.Level = $('#Zaban_Level').val();
            Lanquage.LevelText = $('#Zaban_Level').children("option:selected").text();

            if (Lanquage.LanquegeText == "" || Lanquage.LevelText == "") {
                $.toast({
                    heading: 'خطا',
                    text: 'فیلد های  اجباری را پر کنید',
                    icon: 'error',
                    loader: true,
                    showHideTransition: 'fade'
                })
                return;
            }
            $("#DivLanquage").empty();

            LanquageList.push(Lanquage);
            RefreshLanitems();

            $('#Zaban_Lanquege').val("2");
            $('#Zaban_Level').val("1");


        }
        function RefreshLanitems() {

            var source = $("#LanqTemplate").html();
            var template = Handlebars.compile(source);
            var context = {
                Lanquages: LanquageList
            }
            var html = template(context);
            $("#DivLanquage").append(html);

            $('#LanquegeJson').val("");
            $('#LanquegeJson').val(JSON.stringify(LanquageList));
        }
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    </script>

    <script>
        $('#frmCreate').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>


}
