﻿@model KarYabiAsan.Models.ViewModels.JobSearcherRezomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutRezom.cshtml";
}
@if (Model.Rezome != null)
{
    <div class="">
        <div class="rezomeshow-top">
            <div class="container">
                <div class="row">
                    <div class="col-6 p-2">
                        <a asp-controller="Home" asp-action="Index">
                            <img class="img-fluid" src="~/images/logo.png" />
                        </a>
                    </div>
                    <div class="col-6 my-auto text-left">

                        <button onclick="window.print()" type="button" class="btn btn-light btnprint">
                            <i class="fa fa-print"></i>
                            پرینت
                        </button>
                        <button onclick="history.back()" type="button" class="btn btn-light">
                            بازگشت
                            <i class="fa fa-arrow-left"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="rezome-detail container card p-4">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <div class="">
                                <div class="avatar">
                                    <img src="/@Model.Rezome.Image" class="avatar-img">
                                </div>
                                <h3 style="color: #fa236a;">
                                    @Model.Rezome.NameAndUserName
                                </h3>
                                <div class="">
                                    <h4>اطلاعات شخصی</h4>

                                    <span class="font-weight-bold">تخصص:</span>
                                    <span>@Model.Rezome.OnvanShoghl</span>
                                    <br>

                                    <span class="font-weight-bold">آدرس ایمیل:</span>
                                    <span>
                                        <a>
                                            @{
                                                if (!string.IsNullOrEmpty(Model.Rezome.Email))
                                                {
                                                    @Model.Rezome.Email
                                                }
                                                else
                                                {
                                                    <i>ایمیل ثبت نشده</i>
                                                }
                                            }
                                        </a>
                                    </span>
                                    <br>
                                    @if (Model.Rezome.requesConfirmed||!ViewBag.ShowHamkari)
                                    {
                                        <span class="font-weight-bold">شماره موبایل:</span>
                                        <span>
                                            <a>
                                                @Model.Rezome.PhoneNumber
                                            </a>
                                        </span>
                                    }
                                    else if (!Model.Rezome.requesConfirmed || ViewBag.ShowHamkari)
                                    {
                                        <div class="col-lg-2 col-md-3 col-sm-12 pr-lg-0 pr-md-0">
                                            <button class="btn btn-light border w-100 my-1" title="درخواست همکاری" onclick="SendHamkariRequest('@Model.Rezome.JobSearcheCode')">
                                                @if (Model.Rezome.requesSended && !Model.Rezome.requesConfirmed)
                                                {
                                                    <span class="fa fa-check" data-sendHamkari="@Model.Rezome.JobSearcheCode"></span>

                                                }
                                                else if (Model.Rezome.requesSended && Model.Rezome.requesConfirmed)
                                                {
                                                    <span class="fa fa-check-double" data-sendHamkari="@Model.Rezome.JobSearcheCode"></span>
                                                }
                                                else
                                                {
                                                    <span class="fa fa-handshake-o" data-sendHamkari="@Model.Rezome.JobSearcheCode"></span>
                                                }
                                                <span style="font-size:13px;">درخواست همکاری</span>
                                            </button>
                                        </div>
                                    }

                                    <br>

                                    <span class="font-weight-bold">سال تولد:</span>
                                    <span>
                                        @Model.Rezome.YearOfBrithday
                                    </span>
                                    <br>

                                    <span class="font-weight-bold">جنسیت:</span>
                                    <span>
                                        @Html.DisplayFor(model => model.Rezome.Gender)
                                    </span>
                                    <br>

                                    <span class="font-weight-bold">وضعیت سربازی:</span>
                                    <span>
                                        @Html.DisplayFor(model => model.Rezome.PayanKhedmat)
                                    </span>
                                    <br>

                                    <span class="font-weight-bold">وضعیت تأهل:</span>
                                    <span>
                                        @Html.DisplayFor(model => model.Rezome.Taahol)
                                    </span>
                                    <br>

                                    <span class="font-weight-bold">استان سکونت:</span>
                                    <span>
                                        @Html.DisplayFor(model => model.Rezome.State)
                                    </span>
                                    <br>

                                    <span class="font-weight-bold">آدرس:</span>
                                    <span>
                                        @Html.DisplayFor(model => model.Rezome.Location)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="" style="min-height: 400px;">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4>درباره&zwnj;ی من</h4>
                                                <p class="">
                                                    @Html.DisplayFor(model => model.Rezome.AboutMe)
                                                </p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="">
                                                <h4>سوابق شغلی</h4>
                                                <div>
                                                    <ul>
                                                        @{
                                                            if (!string.IsNullOrEmpty(Model.Rezome._WorkExperiences))
                                                            {
                                                                foreach (var item in Model.Rezome.WorkExperiences)
                                                                {
                                                                    <li>
                                                                        <span class="">@item.JobTitle</span>
                                                                        <div class="">
                                                                            <i class="fa fa-building"></i>
                                                                            @item.CompanyName
                                                                        </div>
                                                                        <div class="">
                                                                            <i class="fa fa-clock-o"></i>
                                                                            از
                                                                            <b>
                                                                                @Html.DisplayFor(model => item.StartMonth)

                                                                                @Html.DisplayFor(model => item.StartYear)

                                                                            </b>
                                                                            تا
                                                                            <b>
                                                                                @Html.DisplayFor(model => item.EndMonth)

                                                                                @Html.DisplayFor(model => item.EndYear)
                                                                            </b>
                                                                        </div>
                                                                        <p class="">
                                                                            @Html.DisplayFor(model => item.Description)

                                                                        </p>
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li>سوابق ثبت نشده</li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="">
                                                <h4>مهارت&zwnj;ها</h4>
                                                <div>
                                                    <ul>

                                                        @Html.DisplayFor(model => model.Rezome.Skills)

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="">
                                                <h4>سوابق تحصیلی</h4>
                                                <div>
                                                    <ul>
                                                        @{
                                                            if (!string.IsNullOrEmpty(Model.Rezome._Educationalbackgrounds))
                                                            {
                                                                @foreach (var item2 in Model.Rezome.Educationalbackgrounds)
                                                                {
                                                                    <li>
                                                                        <span class="">@item2.EducationFeild</span>
                                                                        <div class="">
                                                                            <i class="fa fa-building"></i>
                                                                            @item2.CollageName
                                                                        </div>
                                                                        <div class="">
                                                                            <i class="fa fa-clock-o"></i>
                                                                            از
                                                                            <b>
                                                                                @item2.StartDate
                                                                            </b>
                                                                            <b>
                                                                                تا
                                                                                @item2.EndDate
                                                                            </b>
                                                                        </div>

                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li>سابیه ای ثبت نشده</li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="">
                                                <h4>زبان&zwnj;های مسلط</h4>
                                                <div>
                                                    <ul>
                                                        @foreach (var item3 in Model.Rezome.Lanquege)
                                                        {
                                                            <li>
                                                                <span class="">
                                                                    @Html.DisplayFor(model => item3.LanName)

                                                                </span>
                                                                <span class="">
                                                                    (@Html.DisplayFor(model => item3.Level)                                                            )
                                                                </span>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="">
                        <img style="border-radius: 3px;width:120px;height:120px;" src="/RezomePic/QrImage/@(Model.Rezome.UinqCode+".Jpeg")" alt="Scan the code">
                    </div>

                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <span>شماره رزومه ای ثبت نکرده اید لطفا از منوی بالا به بخش ساخت رزومه بروید</span>
    </div>
}

@section Scripts{ 

}