﻿@model KarYabiAsan.Models.ViewModels.Job_Category_ViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-hero overlay inner-page bg-image pb-0 pt-5" style="background-image: url(../../images/hero_1.jpg)" );" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">

                <a href="">
                    <img class="" src="/@Model.Employer.Image" style="width: 100px;">
                </a>

                <h2 class="employer-det-co-title d-inline-block mr-2">@Model.Employer.Name </h2>


            </div>
        </div>
    </div>

</section>

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card p-4 mb-3">
                    <h5 class="txtclrdark">معرفی مجموعه</h5>
                    <div class="">
                        @Model.Employer.Description
                    </div>
                </div>

                <div class="card p-4 mb-3">
                    <div class="row">
                        <h5 class="col-12 txtclr1">
                            @Model.Job.Title
                        </h5>
                        <div class="mr-auto">
                            <a class="c-btn c-btn--secondary2 text-white" title="ارسال رزومه" onclick="SendRezome(@Model.Job.JobId)">
                                <span class="fa @(Model.Job.IsPinned?"fa-check":"fa-address-card") " data-sendrezome="@Model.Job.JobId"></span>
                                <span style="font-size:13px;">ارسال رزومه</span>
                            </a>
                            <a id="" class="c-btn c-btn--secondary2 text-white" title="نشان کردن" onclick="PinJob(@Model.Job.JobId)">
                                <span class="">
                                    <i class="fa @(Model.Job.IsPinned?"fa-star":"fa-star-o")" data-jobid="@Model.Job.JobId"></i>
                                    @*<i class="fa fa-star" data-jobid="@item.JobId" style="display: none;"></i>*@
                                </span>
                                <span style="font-size:13px;" class="">
                                    <span class="" style="font-size:13px;@(Model.Job.IsPinned?"display: none;":"")">نشان کردن</span>
                                    <span class="" style="@(Model.Job.IsPinned?"":"display: none;")">حذف نشان</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <h6 class="">دسته‌بندی شغلی</h6>
                            <div class="tags">
                                <span class="">@Model.JobCategory.Where(p => p.Id == Model.Job.CateGory).SingleOrDefault().Title</span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">موقعیت مکانی</h6>
                            <div class="tags">
                                <span class="">
                                    @Html.DisplayFor(model => model.Job.State)
                                    ، @Model.Job.Address
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">نوع همکاری</h6>
                            <div class="tags">
                                <span class="">
                                    @Html.DisplayFor(model => model.Job.Hamkari)
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">حداقل سابقه کار</h6>
                            <div class="tags">
                                <span class="">@Model.Job.MinimumWorkExperience سال</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-12 my-3">

                        <h6 class="">شرح موقعیت شغلی</h6>
                        <div class="">
                            @Model.Job.Decription
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 my-2">
                            <h6 class="">مهارت‌های مورد نیاز</h6>
                            <div class="tags">
                                @{
                                    foreach (var item in Model.Job.Skills.Split(",").ToList())
                                    {
                                        <span class="">@item</span>
                                    }

                                }

                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">جنسیت</h6>
                            <div class="tags">
                                <span class="">@Html.DisplayFor(model => model.Job.Gender)</span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">وضعیت نظام وظیفه</h6>
                            <div class="tags">
                                <span class="">@Html.DisplayFor(model => model.Job.PayanKhedmat)</span>
                            </div>
                        </div>
                        <div class="col-md-6 my-2">
                            <h6 class="">حداقل مدرک تحصیلی</h6>
                            <div class="tags">
                                <span class="">@Html.DisplayFor(model => model.Job.Educate)</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-5 col-sm-12">
                @await Component.InvokeAsync("RelatedJobViewComponent", new { JobCategory = Model.Job.CateGory })

            </div>
        </div>
    </div>
    
</section>



