﻿@model KarYabiAsan.Models.Job

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CateGory" class="control-label"></label>
                <input asp-for="CateGory" class="form-control" />
                <span asp-validation-for="CateGory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hamkari" class="control-label"></label>
                <select asp-for="Hamkari" class="form-control"></select>
                <span asp-validation-for="Hamkari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumWorkExperience" class="control-label"></label>
                <input asp-for="MinimumWorkExperience" class="form-control" />
                <span asp-validation-for="MinimumWorkExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salery" class="control-label"></label>
                <input asp-for="Salery" class="form-control" />
                <span asp-validation-for="Salery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decription" class="control-label"></label>
                <input asp-for="Decription" class="form-control" />
                <span asp-validation-for="Decription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Educate" class="control-label"></label>
                <select asp-for="Educate" class="form-control"></select>
                <span asp-validation-for="Educate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayanKhedmat" class="control-label"></label>
                <select asp-for="PayanKhedmat" class="form-control"></select>
                <span asp-validation-for="PayanKhedmat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
