﻿
    <section class="home-section section-hero overlay bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">

        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-md-12">
                    @{
                        if (ViewBag.Action == "SearchJob")
                        {
                            <p class="p-title">کار رویاییت رو پیدا کن...</p>
                        }
                        else
                        {
                            <p class="p-title">نیروی کارتو انتخاب کن...</p>
                            <p class="p-subtitle">جستجو در بانک  رزومه ها</p>
                        }
                    }
                </div>

                <div class="col-sm-12 c-inputBtn c-inputBtn--breakOnMobile c-inputBtn--width80Auto u-mB50 u-noMarginOnMobile u-noPaddingOnMobile">
                    <div class="c-homeIntro2__searchBox">
                        <form method="GET" asp-action="@ViewBag.Action" asp-controller="Home">
                            <div class="c-jobSearchTop__bg c-jobSearchTop__bg--home c-bounceFade u-clearFix">
                                <div class="c-jobSearchTop__blocks col-md-12 col-xs-12 u-clearFix js-showTopSearchOnLoad">
                                    <div class="c-jobSearchTop__block c-jobSearchTop__block--first brdleftgray col-md-3 searchtext">
                                        <i class="fa fa-search c-jobSearchTop__blockIcon "></i>
                                        <input type="text" name="JobTitle" value="" class="c-jobSearchTop__blockInput" placeholder="عنوان شغلی، مهارت یا...">
                                    </div>
                                    <div class="brdleftgray c-jobSearchTop__block col-md-3 searchlocation" style="">
                                        <div class="c-jsSelect2 u-hasIcon headerInput">
                                            <i class="fa fa-map-marker c-jobSearchTop__blockIcon"></i>

                                            <select class="selectnoborder" name="Ostan"
                                                    asp-items="Html.GetEnumSelectList<States>()"
                                                    aria-hidden="true">
                                                <option>همه استان ها</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="c-jobSearchTop__block c-jobSearchTop__block--list col-md-3 searchcategory" style="">
                                        <div class="c-jsSelect2 u-hasIcon headerInput">
                                            <i class="fa fa-bars c-jobSearchTop__blockIcon"></i>
                                            <select class="selectnoborder" name="JobCategory"
                                                    asp-items="@(new SelectList((ViewBag.JobCategoryList as List<JobCategory>), "Id", "Title"))" aria-hidden="true">
                                                <option>همه دسته بندی ها</option>
                                                <option>همه دسته بندی ها</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="c-jobSearchTop__submitBlock col-md-3 col-xs-12 u-clearFix u-block js-showTopSearchOnLoad" style="">
                                        <button class="c-btn c-btn--secondary2 c-jobSearchTop__submitButton" type="submit" name="button">
                                            @{
                                                if (ViewBag.Action == "SearchJob")
                                                {
                                                    <span>جستجو در مشاغل</span>
                                                }
                                                else
                                                {
                                                    <span>جستجو در رزومه ها</span>
                                                }
                                            }

                                        </button>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        @{
            if (ViewBag.Action == "SearchJob")
            {
                <a href="#Amar" class="scroll-button smoothscroll">
                    <span class=" icon-keyboard_arrow_down"></span>
                </a>
            }
            else
            {
                <a href="#rezomefori" class="scroll-button smoothscroll">
                    <span class=" icon-keyboard_arrow_down"></span>
                </a>
            }
        }


    </section>
