﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<p>
    شماره موبایل شما تایید نشده است
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.PhoneNumber" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Code"></label>
                <input asp-for="Input.Code" class="form-control" />
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>

            <div class="container-login100-form-btn">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
            <div class="container-login100-form-btn">
                <p>زمان مانده : <span class="js-timeout">2:00</span></p>
            </div>


            <div class="container-login100-form-btn ">
                <button class="login100-form-btn " type="submit">
                    تایید کد
                </button>
            </div>

            <div class="container-login100-form-btn " style="margin-top:5px;">
                <button class="login100-form-btn HiddenItem" id="js-resetTimer">
                    ارسال مجدد
                </button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        var interval;
        countdown();
        function countdown() {
            $('.js-timeout').removeClass("HiddenItem");
            $('#js-resetTimer').addClass("HiddenItem");
            clearInterval(interval);
            interval = setInterval(function () {
                var timer = $('.js-timeout').html();
                timer = timer.split(':');
                var minutes = timer[0];
                var seconds = timer[1];
                seconds -= 1;
                if (minutes < 0) return;
                else if (seconds < 0 && minutes != 0) {
                    minutes -= 1;
                    seconds = 59;
                }
                else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;

                $('.js-timeout').html(minutes + ':' + seconds);

                if (minutes == 0 && seconds == 0) {
                    $('#js-resetTimer').removeClass("HiddenItem");
                    $('.js-timeout').addClass("HiddenItem");
                    clearInterval(interval);
                }
            }, 1000);
        }


        $('#js-resetTimer').click(function () {
            $('.js-timeout').text("2:00");
            clearInterval(interval);
            countdown();
        });
    </script>
}


