﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" id="home-section">
    <div class="container">
        <h2 class="text-white mt-4">بخش کارجویان</h2>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mb-4 text-center c-boxWidget__header">فراموشی رمز عبور</h2>
                <form method="post" class="p-5 card">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Mobile" class="control-label"></label>
                        <input asp-for="Input.Mobile" class="form-control" />
                        <span asp-validation-for="Input.Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group mr-auto karj">
                        <input type="submit" value="ورود" class="c-btn c-btn--secondary2 px-5" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
