﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" id="home-section">
    <div class="container">

        <h2 class="text-white mt-4">بخش کارجویان</h2>


    </div>
</section>
<section class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="mb-4 text-center c-boxWidget__header">ورود کارجو</h2>
                    <form id="account" method="post" class="p-5 card">
                        @*<div class="container-login100-form-btn">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>*@

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Mobile" class="control-label"></label>
                            <input asp-for="Input.Mobile" class="form-control" />
                            <span asp-validation-for="Input.Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="control-label"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mr-auto karj">
                            <input type="submit" value="ورود" class="c-btn c-btn--secondary2 px-5" />
                        </div>

                        <div>
                            <a id="forgot-password" asp-page="./ForgotPassword" class="txtclr2 font-weight-bold">
                                رمز عبور خود را فراموش کرده اید؟
                            </a>
                        </div>

                        <div>
                            <span>حساب کاربری ندارید؟</span>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="txtclr2 font-weight-bold">
                                ثبت نام کنید
                            </a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
