﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="section-hero overlay inner-page bg-image" style="background-image: url(../../images/hero_1.jpg)" id="home-section">
    <div class="container">

        <h1 class="text-white mt-4">ثبت نام کارجو</h1>

    </div>
</section>
<section class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h3 class="mb-4 text-center c-boxWidget__header">ثبت نام کارجو</h3>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-5 card">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Mobile" class="control-label"></label>
                            <input asp-for="Input.Mobile" class="form-control" />
                            <span asp-validation-for="Input.Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Name" class="control-label"></label>
                            <input asp-for="Input.Name" class="form-control" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="control-label"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mr-auto karj">
                            <input type="submit" value="ثبت نام" class="c-btn c-btn--secondary2 px-5" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
