﻿@model KarYabiAsan.Models.ViewModels.FirestPageViewModel
@{
    int EmployerCount = int.Parse(ViewBag.EmployerCount.ToString());
    int JobResearcherCount = int.Parse(ViewBag.JobResearcherCount.ToString());
    int RezomesCount = int.Parse(ViewBag.RezomesCount.ToString());
    int JobCount = int.Parse(ViewBag.JobCount.ToString());
    Layout = "~/Views/Shared/_LayoutHome.cshtml";


}


@await Component.InvokeAsync("SearchViewComponent", new { Action = "SearchJob" })

<section class="py-5 bg-image overlay-primary fixed overlay" id="Amar" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2 text-white">آمار  کاریابی آسان</h2>
                <p class="lead text-white">اعتماد شما افتخار ماست...</p>
            </div>
        </div>
        <div class="row pb-0 block__19738 section-counter">

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="@RezomesCount">0</strong>
                </div>
                <span class="caption">رزومه</span>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="@JobCount">0</strong>
                </div>
                <span class="caption">عنوان شغل</span>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="@JobResearcherCount">0</strong>
                </div>
                <span class="caption">کارجو</span>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <strong class="number" data-number="@EmployerCount">0</strong>
                </div>
                <span class="caption">کارفرما</span>
            </div>


        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-12">

                <h3 class="text-center c-boxWidget__header u-pR20 u-pL20" id="agahhifori">
                    آگهی های استخدام فوری
                </h3>
                <div class="c-boxWidget__content agahhifori">
                    <div class="card-columns">
                        @{
                            foreach (var item in Model.ForiEmrozJobs)
                            {
                                <div class="card">
                                    <a class="c-boxFeatured c-boxFeatured--premium u-p15 u-block" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">
                                        <span class="c-jobOverview c-jobOverview--primary">
                                            <span class="c-jobOverview__title c-jobOverview__title--premium u-paddingLeft25 u-inlineBlock">
                                                @item.Title
                                            </span>
                                            <ul class="c-jobOverview__info">
                                                <li class="c-jobOverview__infoItem">
                                                    <i class="fa fa-building"></i>
                                                    <span class="c-jobOverview__label">@item.CompanyName</span>
                                                </li>
                                                <li class="c-jobOverview__infoItem">
                                                    <i class="fa fa-map-marker"></i>
                                                    <span class="c-jobOverview__label">@Html.DisplayFor(modelItem => item.State)</span>
                                                </li>
                                            </ul>
                                        </span>
                                    </a>
                                </div>
                            }

                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="site-section" style="background-image: url('images/bg-last.png');">
    <div id="today_jobs" class="container agahiakhir">
        <div class="row">

            <div class="col-md-12">

                <h3 class="last-title">
                    آخرین آگهی های استخدام ثبت شده
                </h3>
            </div>
            <div class="col-12">
                <div class="card-columns">
                    @{
                        foreach (var LastJobsItem in Model.LastJobs)
                        {

                            <div class="card">
                                <a class="u-block u-p15" asp-controller="Jobs" asp-action="Details" asp-route-id="@LastJobsItem.JobId" target="_blank">
                                    <span class="c-jobOverview__title c-jobOverview__title--last">@LastJobsItem.Title</span>
                                    <div>
                                        <div class="">
                                            <ul class="c-jobOverview__info">
                                                <li class="c-jobOverview__infoItem">
                                                    <span class="c-jobOverview__label">
                                                        <i class="fa fa-building"></i>
                                                        @LastJobsItem.CompanyName
                                                    </span>
                                                </li>
                                                <li class="c-jobOverview__infoItem u-pR5">
                                                    <span class="c-jobOverview__label">
                                                        <i class="fa fa-map-marker"></i>
                                                        @Html.DisplayFor(modelItem => LastJobsItem.State)
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="c-jobOverview__datelast">
                                            <span class="c-jobOverview__label">@LastJobsItem.CreateDateShow</span>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        }

                    }
                </div>
            </div>
            <div class="col-xs-12">
                <div class="text-center m-4">
                    <a class="c-btn c-btn--secondary2" asp-action="SearchJob" asp-controller="Home" asp-route-Ostan="0" asp-route-JobCategory="0" asp-route-JobTitle="">مشاهده همه آگهی های استخدام »</a>
                </div>
            </div>

        </div>
    </div>





</section>
<div class="karj">


    @await Component.InvokeAsync("SearchViewComponent", new { Action = "SearchRezome" })

    <section class="site-section">
        <div class="container">
            <div class="">
                <h3 class="text-center c-boxWidget__header u-pR20 u-pL20">
                    رزومه های آماده به کار فوری
                </h3>
                <div class="c-boxWidget__content agahhifori" id="rezomefori">
                    <div class="card-columns">

                        @{
                            foreach (var RezomeItem in Model.ForiRezome)
                            {
                                <div class="card">
                                    <a class=" c-boxFeatured c-boxFeatured--premium u-p15 u-block" asp-controller="Rezomes" asp-action="ShowRezome" asp-route-uq="@RezomeItem.UinqCode">
                                        <span class="c-jobOverview c-jobOverview--primary">
                                            <span class="c-jobOverview__title c-jobOverview__title--premium u-paddingLeft25 u-inlineBlock">
                                                @RezomeItem.OnvanShoghl
                                            </span>
                                            <ul class="c-jobOverview__info">
                                                <li class="c-jobOverview__infoItem">
                                                    <img class="c-image--16XAuto" src="/@RezomeItem.Image " />
                                                </li>

                                                <li class="c-jobOverview__infoItem">
                                                    <i class="fa fa-map-marker"></i>
                                                    <span class="c-jobOverview__label">@RezomeItem.Skills</span>
                                                </li>
                                            </ul>
                                        </span>
                                    </a>
                                </div>
                            }

                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="site-section" style="        background-image: url('images/bg-last-karj.png');">
        <div id="today_jobs" class="container agahiakhir">
            <div class="row">
                <div class="col-md-12">

                    <h3 class="last-title">
                        آخرین رزومه های ثبت شده
                    </h3>
                </div>
                <div class="col-12">
                    <div class="card-columns">
                        @{
                            foreach (var LastRezomeItem in Model.LastRezomes)
                            {
                                <div class="card">
                                    <a class="u-p15 u-block" asp-controller="Rezomes" asp-action="ShowRezome" asp-route-uq="@LastRezomeItem.UinqCode">
                                        <span class="c-jobOverview__title c-jobOverview__title--last">@LastRezomeItem.OnvanShoghl</span>
                                        <div>
                                            <div class="u-inlineBlock">
                                                <ul class="c-jobOverview__info">
                                                    <li class="c-jobOverview__infoItem">
                                                        <img class="c-image--16XAuto" src="/@LastRezomeItem.Image " />
                                                    </li>

                                                    <li class="c-jobOverview__infoItem">
                                                        <i class="fa fa-map-marker"></i>
                                                        <span class="c-jobOverview__label">@LastRezomeItem.Skills</span>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </a>
                                </div>


                            }
                        }
                    </div>
                </div>
                <div class="text-center col-12">

                    <a class="m-4 c-btn c-btn--secondary2" asp-action="SearchRezome" asp-controller="Home" asp-route-Ostan="0" asp-route-JobCategory="0" asp-route-JobTitle="">مشاهده همه »</a>

                </div>



            </div>

    </section>
</div>

<section class="pyme bg-image fixed overlay-3" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h2 class="text-white">بیکاری و دنبال کار میگردی ؟</h2>
                <p class="mb-sm-5 mt-sm-4 text-yel lead">ثبت نام کن و باساخت یک رزومه کامل خودتو بین هزاران کارفرما مطرح کن.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <a asp-controller="jobsearchers" asp-action="LogIn" class="btn btn-warning btn-block btn-lg">ورود به بازار کار!</a>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <h3 class="text-center mb-5">
        شرکت های برگزیده
    </h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 text-center">
                <a>
                    <img class="img-fluid" src="/images/adidas.jpg" />
                    <span class="company-name">آدیداس</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 text-center">
                <a>
                    <img class="img-fluid" src="/images/amazon.jpg" />
                    <span class="company-name">آمازون</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 text-center">
                <a>
                    <img class="img-fluid" src="/images/sprint.jpg" />
                    <span class="company-name">اسپرینت</span>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-6 text-center">
                <a>
                    <img class="img-fluid" src="/images/dk.jpg" />
                    <span class="company-name">دیجیکالا</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 text-center">
                <a>
                    <img class="img-fluid" src="/images/sf.jpg" />
                    <span class="company-name">اسنپ فود</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-6 text-center">
                <a>
                    <img class="img-fluid" src="/images/mofid.jpg" />
                    <span class="company-name">کارگزاری مفید</span>
                </a>
            </div>
        </div>
    </div>

</section>

<section class="bg-image overlay-3 pyme d-flex" style="background-image: url('images/about.jpg');">

    <div class="container">
        <div class="row">
            <div class="col-md-8 text-justify">
                <p class="pr-5 text-white" style="font-size:19px;">
                    <span class="about-title">کاریابی تلما</span>
                    با هدف کمک به کارفرمایان و کارجویان ایجاد شده است و تمام تلاش خود
                    را به کار گرفته تا نیروی کار ماهر و توانمند را به کسب و کارهای کشور معرفی کرده و حلقه ی اتصال بین کارفرمایان و جویندگان کار باشد.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/images/logo.png" class="img-fluid about-logo" />
            </div>
        </div>
    </div>
</section>