﻿@model IEnumerable<KarYabiAsan.Models.Job>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var pagenumber = int.Parse(ViewBag.PageNumber.ToString());
    var itemcount = int.Parse(ViewBag.ItemsCount.ToString());
    ViewData["Title"] = "SearchJob";

}
<section class="home-section section-hero overlay bg-image" style="background-image: url('../images/hero_1.jpg');">
    @await Component.InvokeAsync("SearchViewComponent", new { Action = "SearchJob" })
</section>
<section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('../images/hero_1.jpg');">
    <div class="container">

        <div id="js-jobSeekerSearchResult">

            <div class="row justify-content-center">

                <div class="col-md-9 col-sm-12">

                    <div class="card m-2 text-center">
                        <h4 class="p-3 m-0">
                            <span class="txtclr1">@itemcount فرصت ‌شغلی</span>
                            <span class="txtclrdark"> یافت شد</span>
                        </h4>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-md-9 col-sm-12 jobsearchpagination text-center">
                            <cs-pager cs-paging-pagesize="@Appsetting.PageSize"
                                      cs-paging-pagenumber="@pagenumber"
                                      cs-paging-totalitems="@itemcount"
                                      cs-pagenumber-param="page"
                                      asp-controller="Home"
                                      asp-action="SearchJob"></cs-pager>
                        </div>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="card m-2 p-3">
                            <div class="jobsearchitem row">
                                <div class="col-lg-2 col-md-12">
                                    <a target="_blank">
                                        <img src="/@item.ComponyImage" style="max-width:90px;">
                                    </a>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-12">

                                    <h5>
                                        <a class="itemtitle" target="_blank" asp-controller="Jobs" asp-action="Details" asp-route-id="@item.JobId">
                                            @item.Title
                                        </a>
                                        <span class="datecreate">

                                            (@Appsetting.GetCreateDay(item.CreateDate) )

                                        </span>
                                    </h5>
                                    <ul>
                                        <li>
                                            <i class="fa fa-building"></i>
                                            <span>@item.CompanyName</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-map-marker"></i>
                                            <span>
                                                @Html.DisplayFor(modelItem => item.State)، @item.Address
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-clipboard"></i>
                                            <span>
                                                <span>
                                                    قرارداد
                                                    @Html.DisplayFor(modelItem => item.Hamkari)
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12 pr-lg-0 pr-md-0">


                                    <button class="btn btn-light border w-100 my-1" title="نشان کردن"  onclick="SendRezome(@item.JobId)" >
                                        <span class="fa @(item.IsSend?"fa-check":"fa-address-card") " data-sendrezome="@item.JobId"></span>
                                        <span style="font-size:13px;">ارسال رزومه</span>
                                    </button>
                                    <button id="" class="btn btn-light border w-100 my-1" title="نشان کردن"  onclick="PinJob(@item.JobId)">
                                        <span class="">
                                            <i class="fa @(item.IsPinned?"fa-star":"fa-star-o")" data-jobid="@item.JobId"></i>
                                            @*<i class="fa fa-star" data-jobid="@item.JobId" style="display: none;"></i>*@
                                        </span>
                                        <span style="font-size:13px;" class="">
                                            <span class="" style="font-size:13px;" >نشان کردن</span>
                                            <span class="" style="display: none;">حذف نشان</span>
                                        </span>
                                    </button>

                                </div>

                            </div>
                        </div>
                    }




                </div>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-9 col-sm-12 jobsearchpagination text-center">
                    <cs-pager cs-paging-pagesize="@Appsetting.PageSize"
                              cs-paging-pagenumber="@pagenumber"
                              cs-paging-totalitems="@itemcount"
                              cs-pagenumber-param="page"
                              asp-controller="Home"
                              asp-action="SearchJob"></cs-pager>
                </div>
            </div>



            </div>

        </div>
</section>
