﻿@model IEnumerable<KarYabiAsan.Models.Rezome>

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var pagenumber = int.Parse(ViewBag.PageNumber.ToString());
    var itemcount = int.Parse(ViewBag.ItemsCount.ToString());
    ViewData["Title"] = "SearchJob";

}
<section class="home-section section-hero overlay bg-image karj" style="background-image: url('../images/hero_1.jpg');">
    @await Component.InvokeAsync("SearchViewComponent", new { Action = "SearchRezome" })
</section>
<section class="site-section">
    <div class="container">
        <div id="js-jobSeekerSearchResult">

            <div class="row justify-content-center">

                <div class="col-md-9 col-sm-12">

                    <div class="card m-2 text-center">
                        <h4 class="p-3 m-0">
                            <span class="txtclr2">
                                @itemcount
                                رزومه
                            </span>

                            <span class="txtclrdark">یافت شد</span>
                        </h4>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-md-9 col-sm-12 jobsearchpagination rezom text-center">
                            <cs-pager cs-paging-pagesize="@Appsetting.PageSize"
                                      cs-paging-pagenumber="@pagenumber"
                                      cs-paging-totalitems="@itemcount"
                                      cs-pagenumber-param="page"
                                      asp-controller="Home"
                                      asp-action="SearchRezome"></cs-pager>
                        </div>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="card m-2 p-3">
                            <div class="rezomesearchitem row">
                                <div class="col-lg-2 col-md-12">
                                    <a target="_blank">
                                        <img src="/@item.Image" style="max-width:90px;">
                                    </a>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <h5>
                                        <a class="itemtitle" target="_blank" asp-controller="Rezomes" asp-action="ShowRezome" asp-route-uq="@item.UinqCode">
                                            @item.OnvanShoghl
                                        </a>

                                    </h5>
                                    <ul class="o-listView__itemComplementInfo c-jobListView__meta">

                                        <li>
                                            <i class="fa fa-map-marker"></i>
                                            <span>@Html.DisplayFor(modelItem => item.State)، @item.Location</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-bolt"></i>
                                            <span>مهارت ها:</span>
                                            <span>

                                                @Html.DisplayFor(modelItem => item.Skills)
                                            </span>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12 pr-lg-0 pr-md-0">
                                <button class="btn btn-light border w-100 my-1" title="درخواست همکاری" onclick="SendHamkariRequest('@item.JobSearcheCode')">
                                    @if (item.requesSended && !item.requesConfirmed)
                                    {
                                        <span class="fa fa-check" data-sendHamkari="@item.JobSearcheCode"></span>

                                    }
                                    else if (item.requesSended && item.requesConfirmed)
                                    {
                                        <span class="fa fa-check-double" data-sendHamkari="@item.JobSearcheCode"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-handshake-o" data-sendHamkari="@item.JobSearcheCode"></span>
                                    }
                                    <span style="font-size:13px;">درخواست همکاری</span>
                                </button>
                            </div>
                        </div>

                    }
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-md-9 col-sm-12 jobsearchpagination rezom text-center">
                    <cs-pager cs-paging-pagesize="@Appsetting.PageSize"
                              cs-paging-pagenumber="@pagenumber"
                              cs-paging-totalitems="@itemcount"
                              cs-pagenumber-param="page"
                              asp-controller="Home"
                              asp-action="SearchRezome"></cs-pager>
                </div>
            </div>



        </div>
    </div>
</section>

