@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/Iransans/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Iransans/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Iransans/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/Iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/Iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/Iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/Iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/Iransans/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/Iransans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/Iransans/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Iransans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}



.Body {
    font-family: IRANSans;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.75;
    color: #010b1d;
    direction: rtl;
    background-color: #f5f5f5;
}

.FileUploadbtn {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    padding: 56px 0 0 0;
    height: 20px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png) center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
}

.fa-1-5x {
    font-size: 1.5em;
}




.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: absolute;
    width: 100%;
    top: 1.5rem;
}

    .site-navbar .container-fluid {
        padding-left: 7rem;
        padding-right: 7rem;
    }

@media (max-width: 1199.98px) {
    .site-navbar .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.site-navbar .site-logo {
    position: absolute;
    left: 5%;
}

@media (max-width: 767.98px) {
    .site-navbar .site-logo {
        position: relative;
        text-align: center;
    }
}

.site-navbar .site-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-family: iransans_bold;
    text-transform: uppercase;
}

    .site-navbar .site-logo a:hover {
        text-decoration: none;
    }

.site-navbar .site-burger-menu, .site-navbar .right-cta-menu {
    position: absolute;
    right: 5%;
}

@media (max-width: 767.98px) {
    .site-navbar .site-burger-menu, .site-navbar .right-cta-menu {
        position: relative;
        right: auto;
    }
}

.site-navbar .site-menu-toggle {
    color: #fff;
    line-height: 0;
    font-size: 2.5rem;
    position: relative;
}

@media (max-width: 767.98px) {
    .site-navbar .site-menu-toggle {
        margin-left: 5px;
    }
}

.site-navbar .site-navigation {
    position: relative;
}

    .site-navbar .site-navigation .site-menu {
        margin-bottom: 0;
    }

        .site-navbar .site-navigation .site-menu .active {
            color: #fff;
            display: inline-block;
            padding: 5px 20px;
        }

        .site-navbar .site-navigation .site-menu a {
            text-decoration: none !important;
            display: inline-block;
            position: relative;
        }

        .site-navbar .site-navigation .site-menu > li {
            display: inline-block;
        }

            .site-navbar .site-navigation .site-menu > li > a {
                color: white;
                display: inline-block;
                padding: 15px !important;
                text-decoration: none !important;
                background: #242b5e80;
                border: 1px solid;
                border-radius: 100px;
            }

                .site-navbar .site-navigation .site-menu > li > a:hover {
                    color: #fb246a;
                    font-weight: bold;
                }

        .site-navbar .site-navigation .site-menu .has-children {
            position: relative;
        }

            .site-navbar .site-navigation .site-menu .has-children > a {
                position: relative;
                padding-right: 20px;
            }

                .site-navbar .site-navigation .site-menu .has-children > a:before {
                    position: absolute;
                    content: "\e313";
                    font-size: 16px;
                    top: 50%;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    font-family: 'icomoon';
                }

            .site-navbar .site-navigation .site-menu .has-children .dropdown {
                visibility: hidden;
                opacity: 0;
                top: 100%;
                position: absolute;
                text-align: center;
                border-top: 2px solid #fb246a;
                -webkit-box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.2);
                padding: 0px 0;
                margin-top: 20px;
                margin-left: 0px;
                background: #242b5ed9;
                -webkit-transition: 0.2s 0s;
                -o-transition: 0.2s 0s;
                transition: 0.2s 0s;
            }

                .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
                    position: absolute;
                }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
                        bottom: 100%;
                        left: 20%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
                        border-color: rgba(136, 183, 213, 0);
                        border-bottom-color: #fff;
                        border-width: 10px;
                        margin-left: -10px;
                    }

                .site-navbar .site-navigation .site-menu .has-children .dropdown li {
                    line-height: 1.4;
                }

                .site-navbar .site-navigation .site-menu .has-children .dropdown a {
                    text-transform: none;
                    letter-spacing: normal;
                    -webkit-transition: 0s all;
                    -o-transition: 0s all;
                    transition: 0s all;
                    color: white;
                }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
                        background: #ebeef0;
                        color: #89ba16;
                    }

                .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    min-width: 200px;
                }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
                        padding: 9px 20px;
                        display: block;
                    }

                        .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
                            background: #ebeef0;
                            color: #212529;
                        }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
                        content: "\e315";
                        right: 20px;
                    }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a.active {
                        background: #ebeef0;
                        color: #89ba16;
                    }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
                        left: 100%;
                        top: 0;
                    }

                    .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
                        background: #ebeef0;
                        color: #212529;
                    }

            .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
                cursor: pointer;
            }

                .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
                    -webkit-transition-delay: 0s;
                    -o-transition-delay: 0s;
                    transition-delay: 0s;
                    margin-top: 0px;
                    visibility: visible;
                    opacity: 1;
                }

        .site-navbar .site-navigation .site-menu.site-menu-dark > li > a {
            color: black;
            position: relative;
        }

            .site-navbar .site-navigation .site-menu.site-menu-dark > li > a:after {
                height: 2px;
                background: #000;
                content: "";
                position: absolute;
                bottom: 0;
                left: 20px;
                right: 20px;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
            }

            .site-navbar .site-navigation .site-menu.site-menu-dark > li > a:hover, .site-navbar .site-navigation .site-menu.site-menu-dark > li > a.active {
                color: #89ba16;
                position: relative;
            }

                .site-navbar .site-navigation .site-menu.site-menu-dark > li > a:hover:after, .site-navbar .site-navigation .site-menu.site-menu-dark > li > a.active:after {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #010b1d;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
    -o-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
    transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
        float: left;
        margin-top: 8px;
        color: white;
    }

        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
            font-size: 30px;
            display: inline-block;
            padding-left: 10px;
            padding-right: 0px;
            line-height: 1;
            cursor: pointer;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

            .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
                color: #dee2e6;
            }

    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
        float: left;
        margin-top: 10px;
        margin-left: 0px;
    }

        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
            display: inline-block;
            text-transform: uppercase;
        }

            .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
                max-width: 70px;
            }

            .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
                text-decoration: none;
            }

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

    .site-mobile-menu .site-nav-wrap a {
        padding: 10px 20px;
        display: block;
        position: relative;
        color: white;
    }

        .site-mobile-menu .site-nav-wrap a:hover {
            color: #fb246a;
            text-decoration: none;
        }

    .site-mobile-menu .site-nav-wrap li {
        position: relative;
        display: block;
    }

        .site-mobile-menu .site-nav-wrap li .active {
            color: #000;
        }

    .site-mobile-menu .site-nav-wrap .arrow-collapse {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 20;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        background: white;
    }

        .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
            background: #fa236a;
        }

        .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
            font-size: 12px;
            z-index: 20;
            font-family: "icomoon";
            content: "\f078";
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) rotate(-180deg);
            -ms-transform: translate(-50%, -50%) rotate(-180deg);
            transform: translate(-50%, -50%) rotate(-180deg);
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

        .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    .site-mobile-menu .site-nav-wrap > li {
        display: block;
        position: relative;
        float: left;
        width: 100%;
    }

        .site-mobile-menu .site-nav-wrap > li > a {
            padding-left: 20px;
            font-size: 20px;
        }

        .site-mobile-menu .site-nav-wrap > li > ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .site-mobile-menu .site-nav-wrap > li > ul > li {
                display: block;
            }

                .site-mobile-menu .site-nav-wrap > li > ul > li > a {
                    padding-left: 40px;
                    font-size: 16px;
                }

                .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
                    padding: 0;
                    margin: 0;
                }

                    .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
                        display: block;
                    }

                        .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                            font-size: 16px;
                            padding-left: 60px;
                        }

    .site-mobile-menu .site-nav-wrap[data-class="social"] {
        float: left;
        width: 100%;
        margin-top: 30px;
        padding-bottom: 5em;
    }

        .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
            width: auto;
        }

            .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
                padding-left: 15px !important;
            }

.sticky-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
}

    .sticky-wrapper + .site-blocks-cover {
        margin-top: 96px;
    }

    .sticky-wrapper .site-menu-toggle {
        color: #000;
    }

@media (max-width: 991.98px) {
    .sticky-wrapper .site-menu-toggle {
        color: #fff;
    }
}

.sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

    .sticky-wrapper .site-navbar .site-menu > li {
        display: inline-block;
    }

        .sticky-wrapper .site-navbar .site-menu > li > a {
            position: relative;
        }

            .sticky-wrapper .site-navbar .site-menu > li > a:after {
                height: 2px;
                background: #fff;
                content: "";
                position: absolute;
                bottom: 0;
                left: 20px;
                right: 20px;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
            }

            .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
                color: #fff;
                position: relative;
            }

                .sticky-wrapper .site-navbar .site-menu > li > a:hover:after, .sticky-wrapper .site-navbar .site-menu > li > a.active:after {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }

.sticky-wrapper.is-sticky .site-menu-toggle {
    color: #000;
}

.sticky-wrapper.is-sticky .site-navbar {
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    background: #fff;
}

    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
        color: #000;
    }

    .sticky-wrapper.is-sticky .site-navbar .site-menu > li {
        display: inline-block;
    }

        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
            position: relative;
            color: #000;
        }

            .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:after {
                height: 2px;
                background: #89ba16;
                content: "";
                position: absolute;
                bottom: 0;
                left: 20px;
                right: 20px;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
            }

            .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
                color: #89ba16;
                position: relative;
            }

                .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover:after, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active:after {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }

.sticky-wrapper .shrink {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

body {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    position: relative;
}

    body:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    body.offcanvas-menu {
        position: relative;
    }

        body.offcanvas-menu:after {
            opacity: 1;
            visibility: visible;
        }

h1, h2, h3, h4 {
    color: #010b1d;
}

.site-section {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 2;
}

@media (max-width: 991.98px) {
    .site-section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.text-black {
    color: #000 !important;
}

.home-section {
    position: relative;
}

    .home-section > .container {
        z-index: 2;
        position: relative;
    }

    .home-section h1 {
        font-size: 3rem;
        color: #fff;
        font-weight: 200;
    }

@media (max-width: 991.98px) {
    .home-section h1 {
        font-size: 2rem;
    }
}

.home-section p {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.6);
}

.home-section .search-jobs-form .form-control, .home-section .search-jobs-form .btn-lg {
    height: calc(2em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.home-section .search-jobs-form .btn-search > span {
    font-size: 1rem;
    position: relative;
}

.home-section .search-jobs-form .dropdown-menu {
    position: relative;
    z-index: 4;
    -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4);
}

.home-section .search-jobs-form .filter-option:after {
    border: none;
    display: inline-block;
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.home-section .search-jobs-form .filter-option.dropup {
    border: 1px solid red !important;
}

    .home-section .search-jobs-form .filter-option.dropup:after {
        display: none;
    }

.home-section .search-jobs-form .dropup .dropdown-toggle:after, .home-section .search-jobs-form .dropup .filter-option:after {
    border: none;
    display: inline-block;
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
}

.home-section .search-jobs-form .dropup .filter-option:after {
    display: none !important;
}

.home-section .search-jobs-form .btn-white {
    background: #fff;
    color: #343a40;
}

    .home-section .search-jobs-form .btn-white:hover, .home-section .search-jobs-form .btn-white:active, .home-section .search-jobs-form .btn-white:focus {
        outline: none !important;
    }

.home-section .search-jobs-form .form-control {
    background: #fff;
    border: transparent !important;
    color: #343a40;
}

    .home-section .search-jobs-form .form-control:active, .home-section .search-jobs-form .form-control:focus {
        color: #343a40;
    }

    .home-section .search-jobs-form .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(52, 58, 64, 0.5);
    }

    .home-section .search-jobs-form .form-control::-moz-placeholder {
        color: rgba(52, 58, 64, 0.5);
    }

    .home-section .search-jobs-form .form-control:-ms-input-placeholder {
        color: rgba(52, 58, 64, 0.5);
    }

    .home-section .search-jobs-form .form-control:-moz-placeholder {
        color: rgba(52, 58, 64, 0.5);
    }

.home-section .search-jobs-form .bs-searchbox .form-control {
    height: calc(1em + 1rem + 2px);
    padding: 0.5rem .5rem;
    margin-bottom: .3rem;
    color: #343a40;
    background: #fff;
    border: 1px solid #eee !important;
}

.home-section .search-jobs-form .dropdown-item.active {
    -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}

.home-section .scroll-button {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

    .home-section .scroll-button > span {
        color: #000;
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.bg-image {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    .bg-image.fixed {
        background-attachment: fixed;
    }

    .bg-image.overlay-primary {
        position: relative;
    }

        .bg-image.overlay-primary:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(31,43,123,0.83);
            z-index: 1;
        }

        .bg-image.overlay-primary > .container {
            position: relative;
            z-index: 2;
        }

    .bg-image.overlay-blue {
        position: relative;
    }

        .bg-image.overlay-blue:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(137, 186, 22, 0.9);
            z-index: 1;
        }

        .bg-image.overlay-blue > .container {
            position: relative;
            z-index: 2;
        }

    .bg-image.overlay-3 {
        position: relative;
    }

        .bg-image.overlay-3:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #0000004d;
            z-index: 1;
        }

        .bg-image.overlay-3 > .container {
            position: relative;
            z-index: 2;
        }

.form-group .filter-option:after {
    border: none !important;
    display: inline-block;
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.form-group .filter-option.dropup {
    border: 1px solid red !important;
}

    .form-group .filter-option.dropup:after {
        display: none;
    }

.form-group .dropup .dropdown-toggle:after {
    border: none;
    display: inline-block;
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
}

.form-group .dropup .filter-option:after {
    display: none;
}

.form-group .dropdown-item.active {
    -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}

.form-group label {
    color: #000;
}

.editor {
    height: 375px;
}

.logo-1 {
    max-width: 200px;
}

@media (max-width: 767.98px) {
    .logo-1 {
        max-width: 150px;
    }
}

.logo-2 {
    max-width: 150px;
}

@media (max-width: 767.98px) {
    .logo-2 {
        max-width: 100px;
    }
}

.logo-3 {
    max-width: 120px;
}

@media (max-width: 767.98px) {
    .logo-3 {
        max-width: 75px;
    }
}

.logo-4 {
    max-width: 100px;
}

@media (max-width: 767.98px) {
    .logo-4 {
        max-width: 75px;
    }
}

.logo-5 {
    max-width: 50px;
}

@media (max-width: 767.98px) {
    .logo-5 {
        max-width: 50px;
    }
}

.logo-6 {
    max-width: 150px;
}

@media (max-width: 767.98px) {
    .logo-6 {
        max-width: 150px;
    }
}

.logo-7 {
    max-width: 180px;
}

@media (max-width: 767.98px) {
    .logo-7 {
        max-width: 150px;
    }
}

.logo-8 {
    max-width: 90px;
}

@media (max-width: 767.98px) {
    .logo-8 {
        max-width: 90px;
    }
}

.testimony-full blockquote {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.7;
}

@media (max-width: 767.98px) {
    .testimony-full blockquote {
        font-size: 1.4rem;
    }
}

.testimony-full blockquote cite {
    font-size: 1.2rem;
}

/* Job Listings */
.job-listings {
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    background: #fff;
}

    .job-listings .badge {
        color: #fff;
        padding: 4px 10px;
    }

@media (max-width: 991.98px) {
    .job-listings .custom-width {
        width: 100% !important;
    }
}

.job-listings .job-listing {
    position: relative;
    border-bottom: 1px solid #eee;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

    .job-listings .job-listing:last-child {
        border-bottom: none;
    }

    .job-listings .job-listing a {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

        .job-listings .job-listing a:hover {
            border-left: 7px solid #89ba16;
        }

    .job-listings .job-listing .job-listing-logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        border-right: 1px solid #eee;
    }

@media (max-width: 575.98px) {
    .job-listings .job-listing .job-listing-logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}

.job-listings .job-listing-position h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.job-listings .job-listing-position strong {
    color: #b3b3b3;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.custom-breadcrumbs a {
    color: #89ba16;
}

    .custom-breadcrumbs a:hover {
        color: #fff;
    }

.custom-breadcrumbs .slash {
    color: rgba(255, 255, 255, 0.4);
}

.spepcial_link {
    position: relative;
    text-decoration: none !important;
    color: #000;
}

    .spepcial_link:before {
        position: absolute;
        z-index: -1;
        background: #fff568;
        content: "";
        width: 100%;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        left: 0;
        bottom: 0;
        top: 50%;
        width: 0;
    }

    .spepcial_link:hover {
        color: #000;
    }

        .spepcial_link:hover:before {
            width: 100%;
        }

.img-overlap {
    position: relative;
}

    .img-overlap .img-1, .img-overlap .img-2 {
        position: absolute;
        padding: 4%;
        max-width: 300px;
    }

@media (max-width: 991.98px) {
    .img-overlap .img-1, .img-overlap .img-2 {
        padding: 10%;
        max-width: 400px;
        position: relative;
    }
}

.img-overlap .img-1 {
    top: 0;
}

.img-overlap .img-2 {
    bottom: -20%;
    right: -10%;
}

@media (max-width: 991.98px) {
    .img-overlap .img-2 {
        bottom: 30%;
    }
}

.img-shadow {
    border-radius: 7px;
    -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4);
}

.text-muted {
    color: #d5d5d5 !important;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
}

.section-title-sub {
    font-size: 1rem;
    color: #ced4da;
}

.section-hero, .section-hero > .container > .row {
    height: 55vh;
    min-height: 140px;
}

@media(max-width:999px) {
    .section-hero, .section-hero > .container > .row {
        height: unset !important;
    }
}

.section-hero.inner-page, .section-hero.inner-page > .container > .row {
    height: auto;
    min-height: auto;
    padding-top: 6em;
    padding-bottom: 3em;
}

.section-hero.overlay, .section-hero.overlay-2 {
    position: relative;
}

    .section-hero.overlay:before, .section-hero.overlay-2:before {
        z-index: 1;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.25);
    }

    .section-hero.overlay-2:before {
        background: rgba(125, 131, 132, 0.95);
    }

.section-hero > .container {
    z-index: 2;
    position: relative;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

    .video-container video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.popular-keywords h3 {
    font-size: 1.2rem;
    display: inline-block;
    color: #fff;
    margin-right: .5rem;
}

.popular-keywords .keywords {
    display: inline-block;
}

    .popular-keywords .keywords li {
        display: inline-block;
    }

        .popular-keywords .keywords li a {
            border-radius: 5px;
            display: inline-block;
            background: rgba(255, 255, 255, 0.2);
            border: 2px solid #fff;
            color: #fff;
            padding: .2rem .7rem;
            font-size: .7rem;
            font-weight: 700;
            text-decoration: none;
        }

            .popular-keywords .keywords li a:hover {
                background: #fff;
                color: #89ba16;
            }

.btn:after, .btn:before {
    display: none;
}

.btn:hover, .btn:focus, .btn:active {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-primary {
    color: #fff;
}

    .btn.btn-primary:hover {
        background: #90c317;
        border-color: #90c317;
    }

.btn.btn-outline-white {
    background: transparent;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
}

    .btn.btn-outline-white:hover {
        background: #fff;
        color: #000;
    }

.btn.btn-outline-primary {
    color: #89ba16;
}

    .btn.btn-outline-primary:hover {
        color: #fff;
        background: #89ba16;
    }

.custom-pagination a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #dee2e6;
    text-align: center;
    margin: 0 5px;
    text-decoration: none;
}

    .custom-pagination a.prev, .custom-pagination a.next {
        width: auto;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px;
    }

    .custom-pagination a.active, .custom-pagination a:hover {
        background: #89ba16;
        color: #fff;
        border-color: #89ba16;
    }

.border-width-2 {
    border-width: 2px !important;
}

.btn-md {
    padding: 12px 20px;
}

.slanted:after, .slanted-gray:after {
    content: "";
    background: #fff;
    height: 200px;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
    position: absolute;
    left: 0;
    bottom: -100px;
    right: 0;
    z-index: 1;
}

.slanted-gray:after {
    background: #f8f9fa !important;
}

.block__19738 {
    text-align: center;
}

    .block__19738 [class^="icon-"], .block__19738 [class^="flaticon-"] {
        font-size: 2.5rem;
    }

    .block__19738 .number {
        font-size: 3.2rem;
        font-weight: bold;
        color: #fff;
    }

    .block__19738 .caption {
        font-size: 1rem;
        display: block;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);
    }

.block__62849 .block__16443 {
    background: #fff;
    padding: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    position: relative;
    text-decoration: none;
}

    .block__62849 .block__16443 .custom-icon {
        display: block;
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #89ba16;
        background: #89ba16;
        margin-bottom: 1.5rem;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

        .block__62849 .block__16443 .custom-icon:before {
            display: none;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            content: "";
            width: 90px;
            height: 90px;
            border: 1px solid rgba(137, 186, 22, 0.2);
        }

    .block__62849 .block__16443 [class^="icon-"], .block__62849 .block__16443 [class^="flaticon-"] {
        font-size: 1.6rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
        -o-transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
        transition: 0.3s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
    }

    .block__62849 .block__16443 h3 {
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .block__62849 .block__16443 p {
        color: #7f848c;
    }

    .block__62849 .block__16443:hover {
        top: -20px;
        -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
    }

@media (max-width: 991.98px) {
    .block__62849 .block__16443:hover {
        top: 0;
    }
}

.block__62849 .block__16443:hover .custom-icon {
    background: transparent;
}

    .block__62849 .block__16443:hover .custom-icon [class^="icon-"], .block__62849 .block__16443:hover .custom-icon [class^="flaticon-"] {
        color: #89ba16;
    }

.block__87154 {
    position: relative;
    background: #f8f9fa;
    padding: 30px;
    margin-bottom: 2rem;
    border-radius: 7px;
}

    .block__87154.bg-primary {
        -webkit-box-shadow: 0 5px 30px -5px rgba(137, 186, 22, 0.8);
        box-shadow: 0 5px 30px -5px rgba(137, 186, 22, 0.8);
    }

        .block__87154.bg-primary p {
            font-size: 1.5rem;
            font-weight: 300;
            font-style: italic;
        }

    .block__87154 *:last-child {
        margin-bottom: 0;
    }

    .block__87154 .quote {
        position: absolute;
        -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        transform: translateY(-150%);
    }

    .block__87154 blockquote {
        margin-bottom: 1.6rem;
    }

        .block__87154 blockquote p {
            font-size: 1.2rem;
        }

    .block__87154 .block__91147 figure {
        margin-bottom: 0;
    }

    .block__87154 .block__91147 img {
        max-width: 40px;
        border-radius: 50%;
        margin: 0px;
        padding: 0;
    }

    .block__87154 .block__91147 h3 {
        margin: 0px;
        padding: 0;
        font-size: 1rem;
    }

    .block__87154 .position {
        font-size: .8rem;
        color: #adb5bd;
    }

        .block__87154 .position.position-2 {
            color: rgba(255, 255, 255, 0.6);
        }

.block__96788 {
    position: relative;
    display: block;
}

    .block__96788 .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #fff;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

        .block__96788 .play-icon span {
            font-size: .8rem;
            color: #000;
            top: 50%;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

.block__86547 {
    position: relative;
    background: #f8f9fa;
    overflow: hidden;
    border-radius: 4px;
    -webkit-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
    -o-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
    transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
    top: 0;
}

    .block__86547 figure {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
        flex: 0 0 180px;
        margin-bottom: 0;
        background-size: cover;
        background-position: center center;
    }

@media (max-width: 1199.98px) {
    .block__86547 figure {
        height: 200px;
    }
}

.block__86547 > div {
    padding: 40px;
}

    .block__86547 > div h3 {
        font-size: 1.4rem;
    }

        .block__86547 > div h3 a {
            color: #000;
        }

            .block__86547 > div h3 a:hover {
                text-decoration: none;
            }

    .block__86547 > div .block__27192 > a {
        font-size: .9rem;
        display: inline-block;
        margin: 10px 20px;
        margin-left: 0;
        color: #495057;
    }

        .block__86547 > div .block__27192 > a span {
            color: #adb5bd;
        }

        .block__86547 > div .block__27192 > a:hover {
            text-decoration: none;
        }

.block__86547:hover {
    top: -10px;
    background: #fff;
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.2);
}

.block__45439 {
    padding: 7em 0;
}

.block__69944 .text-muted {
    color: #ced4da !important;
}

.block__76208 .accordion-item .heading {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}

    .block__76208 .accordion-item .heading > a {
        padding-left: 35px;
        position: relative;
        color: #000;
    }

        .block__76208 .accordion-item .heading > a:before {
            content: "";
            width: 20px;
            height: 20px;
            line-height: 18px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 18px;
            top: .1em;
            left: 0;
            border-radius: 50%;
        }

        .block__76208 .accordion-item .heading > a[aria-expanded="true"]:before {
            font-family: 'icomoon';
            position: absolute;
            content: "\e316";
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
            background: #89ba16;
            color: #fff;
            border: 1px solid #89ba16;
        }

        .block__76208 .accordion-item .heading > a[aria-expanded="false"]:before {
            content: "\e313";
            color: #ccc;
            font-family: 'icomoon';
            position: absolute;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

.block__76208 .accordion-item .body-text {
    font-size: 16px;
    padding: 5px 0;
    padding-left: 30px;
}

.item {
    border: none;
    margin-bottom: 30px;
    border-radius: 4px;
}

    .item a {
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
    }

        .item a img {
            position: relative;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s all ease-in-out;
            -o-transition: .3s all ease-in-out;
            transition: .3s all ease-in-out;
        }

    .item .item-wrap {
        display: block;
        position: relative;
    }

        .item .item-wrap:after {
            z-index: 2;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.4);
            visibility: hidden;
            opacity: 0;
            -webkit-transition: .3s all ease-in-out;
            -o-transition: .3s all ease-in-out;
            transition: .3s all ease-in-out;
        }

        .item .item-wrap > span {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            -webkit-transform: translate(-50%, -50%) scale(0);
            -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
            color: #fff;
            font-size: 1.7rem;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

        .item .item-wrap:hover:after {
            opacity: 1;
            visibility: visible;
        }

        .item .item-wrap:hover span {
            margin-top: 0px;
            opacity: 1;
            visibility: visible;
            -webkit-transform: translate(-50%, -50%) scale(1);
            -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
        }

    .item:hover a img {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
    }

.site-menu-toggle:hover {
    text-decoration: none;
}

.site-footer {
    padding: 5rem 0 1rem;
    position: relative;
    background: #010b1d;
}

@media (max-width: 991.98px) {
    .site-footer {
        padding: 2rem 0;
    }
}

.site-footer.slanted-footer:before {
    content: "";
    background: #001f42;
    height: 200px;
    -webkit-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
    position: absolute;
    left: 0;
    top: -100px;
    right: 0;
    z-index: -1;
}

.site-footer h3 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

.site-footer a {
    color: rgba(255, 255, 255, 0.5);
}

    .site-footer a:hover {
        color: #fff;
    }

.site-footer ul li {
    margin-bottom: .5rem;
}

    .site-footer ul li a {
        color: rgba(255, 255, 255, 0.5);
    }

        .site-footer ul li a:hover {
            color: #fff;
        }

.site-footer .scroll-top {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
}

    .site-footer .scroll-top > span {
        position: absolute;
        font-size: 2rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #000 !important;
    }

.copyright {
    color: rgba(255, 255, 255, 0.5);
}

    .copyright a {
        color: #fa236a;
    }

.footer-social a, .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    background: #89ba16;
    border-radius: 50%;
    text-decoration: none !important;
}

    .footer-social a > span, .social a > span {
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .footer-social a:hover, .social a:hover {
        background: #fff;
    }

        .footer-social a:hover span, .social a:hover span {
            color: #89ba16;
        }

    .social a:hover {
        background: #343a40;
    }

        .social a:hover span {
            color: #fff;
        }

.filters .btn {
    border-color: transparent;
    font-size: .8rem;
    margin: 5px;
    background: rgba(52, 58, 64, 0.05);
    color: #343a40;
    text-transform: uppercase;
}

    .filters .btn:hover, .filters .btn:focus, .filters .btn:active {
        border-color: transparent !important;
        background: rgba(52, 58, 64, 0.3) !important;
        color: #000;
    }

    .filters .btn.active {
        background: #000 !important;
        color: #fff;
        border-color: #000 !important;
    }

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

    .isotope .item {
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: top, left, opacity;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        -o-transition-property: transform, opacity;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
    }

/* responsive media queries */
/* Mouse scroll effect */
.mouse {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
}

    .mouse .mouse-icon {
        display: block;
        width: 25px;
        height: 45px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 15px;
        cursor: pointer;
        position: relative;
        text-align: center;
        -webkit-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
    }

    .mouse .mouse-wheel {
        height: 4px;
        margin: 2px auto 0;
        display: block;
        width: 4px;
        background-color: white;
        border-radius: 50%;
        -webkit-animation: 1.6s ease infinite wheel-up-down;
        -moz-animation: 1.6s ease infinite wheel-up-down;
        animation: 1.6s ease infinite wheel-up-down;
    }

    .mouse:hover .mouse-icon {
        border-color: #fff;
    }

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

.jm-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 2em;
}

.ul-check {
    margin-bottom: 50px;
}

    .ul-check li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 15px;
        line-height: 1.5;
    }

        .ul-check li:before {
            left: 0;
            font-size: 20px;
            top: -.3rem;
            font-family: "icomoon";
            content: "\e5ca";
            position: absolute;
        }

    .ul-check.white li:before {
        color: #fff;
    }

    .ul-check.success li:before {
        color: #89ba16;
    }

    .ul-check.primary li:before {
        color: #89ba16;
    }

.block__18514 .block__47528 li {
    margin-bottom: 10px;
}

    .block__18514 .block__47528 li span {
        font-weight: 700;
        color: #000;
    }

    .block__18514 .block__47528 li a {
        display: block;
    }

.sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
    float: left;
    background: #fff;
}

    .sidebar-box *:last-child {
        margin-bottom: 0;
    }

    .sidebar-box h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

.categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dee2e6;
    list-style: none;
}

    .categories li:last-child, .sidelink li:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
    }

    .categories li a, .sidelink li a {
        display: block;
    }

        .categories li a span, .sidelink li a span {
            position: absolute;
            right: 0;
            top: 0;
            color: #ccc;
        }

    .categories li.active a, .sidelink li.active a {
        color: #000;
        font-style: italic;
    }

.form-control:hover, .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:active, .form-control:focus {
    border-color: #fb246a !important;
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
}

    .comment-list .children {
        padding: 50px 0 0 40px;
        margin: 0;
        float: left;
        width: 100%;
    }

    .comment-list li {
        padding: 0;
        margin: 0 0 30px 0;
        float: left;
        width: 100%;
        clear: both;
        list-style: none;
    }

        .comment-list li .vcard {
            width: 80px;
            float: left;
        }

            .comment-list li .vcard img {
                width: 50px;
                border-radius: 50%;
            }

        .comment-list li .comment-body {
            float: right;
            width: calc(100% - 80px);
        }

            .comment-list li .comment-body h3 {
                font-size: 20px;
            }

            .comment-list li .comment-body .meta {
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: .1em;
                color: #ccc;
            }

            .comment-list li .comment-body .reply {
                padding: 5px 10px;
                background: #e6e6e6;
                color: #000;
                text-transform: uppercase;
                font-size: 14px;
            }

                .comment-list li .comment-body .reply:hover {
                    color: #000;
                    background: #e3e3e3;
                }

.search-form {
    background: #f7f7f7;
}

    .search-form .form-group {
        position: relative;
    }

    .search-form .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.post-meta {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

    .post-meta a {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

.single-carousel .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

    .single-carousel .owl-dots .owl-dot {
        display: inline-block;
        margin: 0;
        outline: none !important;
    }

        .single-carousel .owl-dots .owl-dot > span {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.2);
            margin: 5px;
        }

        .single-carousel .owl-dots .owl-dot.active > span {
            background: #89ba16;
        }

.single-carousel img {
    max-width: 400px;
    margin-left: auto;
}

@media (max-width: 991.98px) {
    .single-carousel img {
        margin-left: auto;
        margin-right: auto;
    }
}

/*PRELOADING------------ */
#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.p-title {
    font-size: 2.5rem !important;
    color: white !important;
    text-align: center;
    padding-top: 5rem;
    font-weight: 500;
    text-shadow: 0px 2px 2px #242b5e;
}

.p-subtitle {
    font-size: 1.5rem !important;
    color: #1f2b7b !important;
    text-align: center;
    font-weight: 500;
}



.company-name {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-top: 1rem;
}

.about-title {
    font-size: 30px;
    color: #fb246a;
    font-weight: bold;
}

.about-logo {
    background: #ffffff33;
    padding: 2rem;
}

.pyme {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.txtclr1 {
    color: #fb246a;
}

.txtclr2 {
    color: #00bcd4;
}

.txtclrdark, .txtclrdark a {
    color: #010b1d !important;
}

.fs-1 {
    font-size: 1rem;
}


.c-btn--secondary2 {
    background-color: #fb246a;
    color: white;
    box-shadow: none !important;
    border-radius: 100px;
    transition: ease-out,background-color .5s;
    outline: none !important;
}

    .c-btn--secondary2:focus, .c-btn--secondary2:hover {
        background-color: #242b5e;
        color: #fff;
    }



.c-btn--secondary3 {
    background-color: #001d50;
    color: white;
    box-shadow: none !important;
    border-radius: 100px;
    transition: ease-out,background-color .5s;
    outline: none !important;
}

    .c-btn--secondary3:focus, .c-btn--secondary3:hover {
        background-color: #848484;
        color: #fff;
    }


.form-group label {
    color: #28395a !important;
    font-weight: normal !important;
}


/*----------- employer profile -------------*/
.employer-det-main {
    background: #ffffff75;
    padding: 1rem;
    box-shadow: 0px 0px 7px #242b5e38;
    font-size: 1rem;
    font-weight: 500;
}

.employer-det-co-title {
    color: #fff !important;
    text-shadow: 0px 1px 2px black;
}



/*----------- employer new job -------------*/
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    background: #fb246a;
    padding: 0.1rem 0.25rem;
    border-radius: 5px;
    color: white !important;
}


/*----------------job search----------------*/
.jobsearchitem .itemtitle {
    color: #fb246a;
    transition: all ease-in-out .3s;
}
    .jobsearchitem .itemtitle:hover {
        color: #00215d;
    }

.jobsearchitem .datecreate {
    color: gray;
    font-size: 12px;
}

.jobsearchitem li .fa {
    color:#3f51b5;
}

.jobsearchpagination .pagination {
    display: block !important;
    margin: 0.5rem;
}
    .jobsearchpagination .pagination li {
        font-size: 1.25rem;
        margin: 0.25rem;
        display: inline-block;
        padding: 0 0.5rem;
        background: white;
        border-radius: 4px;
        border: 1px solid #dfdfdf;
    }


        .jobsearchpagination .pagination li a {
            color: #3f51b5;
        }
        .jobsearchpagination .pagination li a:hover {
            color: #fb246a;
        }
    .jobsearchpagination .pagination .active {
        background: #fb246a;
        color:white;
    }
    .jobsearchpagination .pagination .disabled {
        color: gray;
    }

    /*---------------rezome search----------------*/
.jobsearchpagination.rezom .pagination .active {
    background: #00bcd4;
    color: white;
}
.jobsearchpagination.rezom .pagination li a:hover {
    color: #00bcd4;
}

.rezomesearchitem .itemtitle {
    color: #009fb3;
    transition: all ease-in-out .3s;
}

    .rezomesearchitem .itemtitle:hover {
        color: #00215d;
    }

.rezomesearchitem li .fa {
    color: #3f51b5;
}


/*-------------create rezome-----------*/

.rezomesazmain .fa{
    vertical-align:middle;
}

.rezome-section-title {
    border-bottom: 1px solid lightgray;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}
.rezome-section-title .titr {
    font-size: 1rem;
    font-weight: bold;
}

/*-----------show rezome------------*/
.showrezomemain {
    background-image: url(/images/hero_1.jpg);
    background-attachment:fixed;
}
.rezomeshow-top {
    background: #7c809ab3;
    border-bottom: 1px solid #fa236a;
    margin-bottom: 2rem;
}

.rezome-detail {
    line-height: 2.25;
}
@media (max-width:768px) {
    .btnprint {
        display: none !important;
    }
}

/*----------search plugin------------*/

@media (max-width:768px) {
    .searchtext {
        display: inline-block !important;
        width: 73% !important;
    }

    .searchlocation {
        display: inline-block !important;
        width: 11% !important;
    }

    .searchcategory {
        display: inline-block !important;
        width: 12% !important;
    }

    #Amar{
        display:none;
    }

    .p-title{
        font-size:1.5rem !important;
    }
}


/*------------floatmenu----------------*/

#floatmenu {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    list-style: none;
    font-size: 1.25rem;
    z-index: 99999;
}

.floatmenu-button {
    opacity: 0;
    z-index: -1;
}

.floatmenu-button {
    width: 80px;
    height: 75px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient( 230deg, #fb246a, #554cad);
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: 1.65;
    text-align: center;
    color: #fff;
}
    .floatmenu-button:hover {
        color: #fff;
        background: #242b5e;
    }

#floatmenu:not(:target) > a:first-of-type,
#floatmenu:target > a:last-of-type {
    opacity: 1;
    z-index: 1;
}

#floatmenu:not(:target) > .icon-plus:before,
#floatmenu:target > .icon-minus:before {
    opacity: 1;
}

.floatmenu-item {
    width: 80px;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient( 204deg, #00bcd4, #385db9);
    transform: translate(0px, 0px);
    transition: transform 500ms;
    z-index: -2;
    transition: .5s;
    text-align: center;
}

    .floatmenu-item:hover {
        opacity: 0.5;
        box-shadow: 0 5px 10px black;
    }


    .floatmenu-item a {
        color: #fff;
    }

#floatmenu:target > .floatmenu-item:nth-child(4) {
    transform: rotate( 74deg ) translateY(-123px) rotate( 287deg );
    transition-delay: 0s;
}

#floatmenu:target > .floatmenu-item:nth-child(3) {
    transform: rotate( 20deg ) translateY(-105px) rotate( -20deg );
    transition-delay: 0.1s;
}