﻿@using Microsoft.AspNetCore.Http;
@{
    var UserJson = Context.Session.GetString("User");
    jobsearcher User = new jobsearcher();
    if (!string.IsNullOrEmpty(UserJson))
    {
        User = Newtonsoft.Json.JsonConvert.DeserializeObject<jobsearcher>(UserJson);

    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>کاریابی آسان</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/css/end_user.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom-bs.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/fonts/line-icons/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/Toast/jquery.toast.css" rel="stylesheet" />


</head>

<body class="Body text-right showrezomemain" ;
      }>
    @RenderBody()

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/stickyfill.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-tagsinput.js"></script>
    <script src="~/lib/Toast/jquery.toast.js"></script>
    @RenderSection("Scripts", false)
    <script>
        function SendHamkariRequest(IdRezome) {
            $.ajax({
                type: "POST",
                url: "/Employers/SendHamkariRequest/",
                data: { IdRezome: IdRezome },
                dataType: "Json",
                success: function (result) {
                    console.log(result);
                    if (result == 1) {
                        $('span[data-sendHamkari= ' + IdRezome + ']').removeClass('fa-handshake-o');
                        $('span[data-sendHamkari= ' + IdRezome + ']').addClass('fa-check');
                    }
                    if (result == 0) {
                        $('span[data-sendHamkari= ' + IdRezome + ']').removeClass('fa-check');
                        $('span[data-sendHamkari= ' + IdRezome + ']').addClass('fa-handshake-o');
                    }
                    if (result == -2) {
                        $.toast({
                            heading: 'خطا',
                            text: 'برای درخواست همکاری باید یک کارفرما باشید .',
                            icon: 'error',
                            loader: true,
                            showHideTransition: 'fade'
                        });
                        return;
                    }
                    if (result == -1) {
                        $.toast({
                            heading: 'خطا',
                            text: 'برای درخواست همکاری باید ابتدا ورود داشته باشید.',
                            icon: 'error',
                            loader: true,
                            showHideTransition: 'fade'
                        });
                        return;
                    }

                },
                error: function (req, status, error) {



                }
            });
        }
    </script>
</body>
</html>
