﻿@using Microsoft.AspNetCore.Http;

@{
    //var UserJson = Context.Session.GetString("User");
    //jobsearcher User = new jobsearcher();
    //if (!string.IsNullOrEmpty(UserJson))
    //{
    //    User = Newtonsoft.Json.JsonConvert.DeserializeObject<jobsearcher>(UserJson);

    //}
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telma Job</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    @*<link rel="shortcut icon" href="ftco-32x32.png">*@
    <link href="~/css/end_user.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom-bs.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/fonts/line-icons/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/Toast/jquery.toast.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/css/style.css">

</head>


<body id="top" class="Body">
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border txtclr1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        <!-- NAVBAR -->
        <header class="site-navbar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="right-cta-menu text-right d-flex aligin-items-center col-6">

                        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                    </div>

                    <div class="site-logo col-6 pt-md-4 pt-lg-0">
                        <a asp-action="Index" asp-controller="Home">
                            <img class="img-fluid" src="~/images/logo.png" />
                        </a>

                    </div>

                    <nav class="mx-auto site-navigation">
                        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">

                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("Employer"))
                                {
                                    <li class="has-children">
                                        <a class="mr-3">@User.Identity.Name</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Employers" asp-action="Details">حساب کاربری من</a></li>
                                            <li><a asp-controller="Employers" asp-action="CreateJob">ایجاد فرصت شغلی</a></li>
                                            <li><a asp-controller="Employers" asp-action="Exit">خروج</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-controller="Employers" asp-action="LogIn"><span class="mx-1 fa fa-lock" style="vertical-align:middle;"></span>ورود / ثبت نام  کارفرما</a>
                                    </li>
                                }
                            }
                            @{
                                if (User.Identity.IsAuthenticated && User.IsInRole("JobSearcher"))
                                {
                                    <li class="has-children">
                                        <a class="mr-3">@User.Identity.Name</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="jobsearchers" asp-action="Details">حساب کاربری من</a></li>
                                            <li><a asp-controller="Rezomes" asp-action="CreateRezome">رزومه ساز</a></li>
                                            <li><a asp-controller="Rezomes" asp-action="ShowRezomeForUser">مشاهده رزومه</a></li>
                                            <li><a asp-controller="jobsearchers" asp-action="Exit">خروج</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-controller="jobsearchers" asp-action="LogIn"><span class="mx-1 fa fa-lock" style="vertical-align:middle;"></span>ورود / ثبت نام کارجو</a>
                                    </li>
                                }
                            }

                        </ul>
                    </nav>



                </div>
            </div>
        </header>
        <div class="site-wrap" dir="rtl" style="text-align:right;">

            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div> <!-- .site-mobile-menu -->


            @RenderBody()
        </div>

        <ul id="floatmenu" class="m-0">
            <a class="floatmenu-button" href="#floatmenu"><span>+ ثبت آگهی</span></a>
            <a class="floatmenu-button" href="#0"><span>+ ثبت آگهی</span></a>
            <li class="floatmenu-item">
                <a asp-controller="Rezomes" asp-action="CreateRezome">
                    ثبت رزومه
                </a>
            </li>
            <li class="floatmenu-item">
                <a asp-controller="Employers" asp-action="Login">
                    آگهی استخدام
                </a>
            </li>
        </ul>


        <footer class="site-footer">

            <a href="#top" class="smoothscroll scroll-top">
                <span class="icon-keyboard_arrow_up"></span>
            </a>

            <div class="container">
                <div class="row text-center">
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>کارفرما</h3>
                        <ul class="list-unstyled">
                            <li><a asp-controller="Employers" asp-action="LogIn">ثبت نام کارفرما</a></li>
                            <li><a href="#">درج آگهی استخدام</a></li>
                            <li><a href="#">جستجو در بانک رزومه</a></li>
                            <li><a href="#">تعرفه ی انتشار آگهی</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>کارجو</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">آگهی های استخدام</a></li>
                            <li><a asp-controller="jobsearchers" asp-action="LogIn">ثبت نام کارجو</a></li>
                            <li><a href="#">ثبت رزومه</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>کاریابی تلما</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">پشتیبانی</a></li>
                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="#">راهنمای استفاده</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">


                        <img src="/images/logo.png" class="img-fluid p-4" />

                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-12">
                        <p class="copyright my-5">
                            1399 &copy; |
                            تمامی حقوق این سامانه متعلق به
                            <a class="temlaweblink" href="#">تلما وب</a>
                            می باشد.


                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @* <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KarYabiAsan</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main class="row">
                @RenderBody()
            </main>
        </div>

        <footer class="site-footer">

            <a href="#top" class="smoothscroll scroll-top">
                <span class="icon-keyboard_arrow_up"></span>
            </a>

            <div class="container">
                <div class="row mb-5">
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Search Trending</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">Web Developers</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS3</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Company</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Resources</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Support</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3 mb-4 mb-md-0">
                        <h3>Contact Us</h3>
                        <div class="footer-social">
                            <a href="#"><span class="icon-facebook"></span></a>
                            <a href="#"><span class="icon-twitter"></span></a>
                            <a href="#"><span class="icon-instagram"></span></a>
                            <a href="#"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-12">
                        <p class="copyright">
                            <small>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>*@
    <!-- SCRIPTS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/stickyfill.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>

    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-tagsinput.js"></script>
    <script src="~/lib/Toast/jquery.toast.js"></script>
    @RenderSection("Scripts", false)
    <script>
        function PinJob(IdJob) {
            $.ajax({
                type: "POST",
                url: "/jobsearchers/PinJob/",
                data: { JobId: IdJob },
                dataType: "Json",
                success: function (result) {
                    if (result == 1) {
                        $('i[data-jobid= ' + IdJob + ']').removeClass('fa-star-o');
                        $('i[data-jobid= ' + IdJob + ']').addClass('fa-star');
                    }
                    else if (result == 0) {
                        $('i[data-jobid= ' + IdJob + ']').removeClass('fa-star');
                        $('i[data-jobid= ' + IdJob + ']').addClass('fa-star-o');
                    }
                    else {
                        $.toast({
                            heading: 'خطا',
                            text: 'برای نشان کردن باید ابتدا ورود داشته باشید.',
                            icon: 'error',
                            loader: true,
                            showHideTransition: 'fade'
                        })
                        return;
                    }

                },
                error: function (req, status, error) {



                }
            });
        }


        function SendRezome(IdJob) {
            $.ajax({
                type: "POST",
                url: "/jobsearchers/SendRezome/",
                data: { JobId: IdJob },
                dataType: "Json",
                success: function (result) {
                    if (result == 1) {
                        $('span[data-sendrezome= ' + IdJob + ']').removeClass('fa-address-card');
                        $('span[data-sendrezome= ' + IdJob + ']').addClass('fa-check');
                    }
                    else if (result == 0) {
                        $('span[data-sendrezome= ' + IdJob + ']').removeClass('fa-check');
                        $('span[data-sendrezome= ' + IdJob + ']').addClass('fa-address-card');
                    }
                    else {
                        $.toast({
                            heading: 'خطا',
                            text: 'برای ارسال رزومه باید ابتدا ورود داشته باشید.',
                            icon: 'error',
                            loader: true,
                            showHideTransition: 'fade'
                        });
                        return;
                    }

                },
                error: function (req, status, error) {



                }
            });
        }

        function SendHamkariRequest(IdRezome) {
            $.ajax({
                type: "POST",
                url: "/Employers/SendHamkariRequest/",
                data: { IdRezome: IdRezome },
                dataType: "Json",
                success: function (result) {
                    console.log(result);
                    if (result == 1) {
                        $('span[data-sendHamkari= ' + IdRezome + ']').removeClass('fa-handshake-o');
                        $('span[data-sendHamkari= ' + IdRezome + ']').addClass('fa-check');
                    }
                     if (result == 0) {
                        $('span[data-sendHamkari= ' + IdRezome + ']').removeClass('fa-check');
                        $('span[data-sendHamkari= ' + IdRezome + ']').addClass('fa-handshake-o');
                    }
                    if (result ==-2) {
                        $.toast({
                            heading: 'خطا',
                            text: 'برای درخواست همکاری باید یک کارفرما باشید .',
                            icon: 'error',
                            loader: true,
                            showHideTransition: 'fade'
                        });
                        return;
                    }
                    if (result == -1) {
                        $.toast({
                            heading: 'خطا',
                            text: 'برای درخواست همکاری باید ابتدا ورود داشته باشید.',
                            icon: 'error',
                            loader: true,
                            showHideTransition: 'fade'
                        });
                        return;
                    }

                },
                error: function (req, status, error) {



                }
            });
        }


    </script>
</body>
</html>
