﻿@model KarYabiAsan.Models.ViewModels.JobSearcherRezomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutRezom.cshtml";
}
<div class="c-cvPrint c-cvPrint--template1">
    <div class="c-cvPrint__header">
        <div class="u-clearFix">
            <div class="col-md-6 col-sm-12">
                <div class="c-cvPrint__headerBreadCrumb">
                    <a href="https://jobinja.ir">
                        جابینجا
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a href="https://jobinja.ir/app/cv-builder">
                        رزومه&zwnj;ساز
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="u-hideOnMobile--important" href="https://jobinja.ir/user/GH-2397261">
                        نمایش رزومه
                        <i class="c-icon c-icon--down-arrow c-cvPrint__anchorIcon"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="c-cvPrint__headerButtons">
                    <button onclick="window.print()" type="button" class="c-cvPrint__headerButton c-btn c-btn--secondary3 c-btn--semiFlat u-hideOnMobile--important">
                        <i class="fa fa-print"></i>
                        پرینت
                    </button>
                    <div data-modal="#sharing-content" class="js-simpleModal u-inlineBlock c-cvPrint__headerButtonsOuter">
                        <button type="button" class="js-simpleModalOpener c-cvPrint__headerButton c-btn c-btn--secondary3 c-btn--semiFlat">
                            <i class="fa fa-share"></i>
                            به اشتراک گذاری
                        </button>
                    </div>
                    <a target="_blank" href="https://jobinja.ir/user/GH-2397261/download" class="c-cvPrint__headerButton c-btn c-btn--primary-dark c-btn--semiFlat">
                        <i class="fa fa-download"></i>
                        دریافت رزومه
                    </a>
                </div>
            </div>
        </div>
        <div class="c-docNotification  c-docNotification--warn js-docNotification">
            <div class="c-docNotification__container container">
                <div class="small-notif u-blink--low">
                    <i class="fa fa-warning"></i>
                    اطلاعات تماس داخل رزومه فقط به خود شما و کارفرمایانی که برایشان رزومه ارسال کرده&zwnj;اید نمایش داده می&zwnj;شود.

                </div>
            </div>
        </div>
    </div>            <div class="container">
        <div class="col-sm-10 col-sm-push-1 u-noPadding u-mB50">
            <div class="c-cvPrint__wrapper row">
                <div class="col-md-4 col-sm-12 u-noPadding u-static">
                    <div class="c-cvPrint__side">
                        <div class="avatar">
                            <img src="/@Model.Rezome.Image" class="avatar-img">
                        </div>
                        <h1 class="name u-mT10">
                            hoosein hl
                        </h1>
                        <div class="info">
                            <h2>اطلاعات شخصی</h2>

                            <span class="title title--gray">تخصص:</span>
                            <span>@Model.Rezome.OnvanShoghl</span>
                            <br>

                            <span class="title title--gray">آدرس ایمیل:</span>
                            <span>
                                <a>
                                    @Model.jobsearcher.Email
                                </a>
                            </span>
                            <br>

                            <span class="title title--gray">شماره موبایل:</span>
                            <span>
                                <a>
                                    @Model.Rezome.PhoneNumber
                                </a>
                            </span>
                            <br>

                            <span class="title title--gray">سال تولد:</span>
                            <span>
                                @Model.Rezome.YearOfBrithday
                            </span>
                            <br>

                            <span class="title title--gray">جنسیت:</span>
                            <span>
                                @Html.DisplayFor(model => model.Rezome.Gender)
                            </span>
                            <br>

                            <span class="title title--gray">وضعیت سربازی:</span>
                            <span>
                                @Html.DisplayFor(model => model.Rezome.PayanKhedmat)
                            </span>
                            <br>

                            <span class="title title--gray">وضعیت تأهل:</span>
                            <span>
                                @Html.DisplayFor(model => model.Rezome.Taahol)
                            </span>
                            <br>

                            <span class="title title--gray">استان سکونت:</span>
                            <span>
                                @Html.DisplayFor(model => model.Rezome.State)
                            </span>
                            <br>

                            <span class="title title--gray">آدرس:</span>
                            <span>
                                @Html.DisplayFor(model => model.Rezome.Location)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 u-noPadding">
                    <div class="c-cvPrint__table" style="min-height: 400px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <h2>درباره&zwnj;ی من</h2>
                                        <p class="u-noMarginBottom">
                                            @Html.DisplayFor(model => model.Rezome.AboutMe)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="u-pT20">
                                        <h2>سوابق شغلی</h2>
                                        <div>
                                            <ul>
                                                @{
                                                    foreach (var item in Model.Rezome.WorkExperiences)
                                                    {
                                                        <li>
                                                            <span class="title">@item.JobTitle</span>
                                                            <div class="place">
                                                                <i class="fa fa-building"></i>
                                                                @item.CompanyName
                                                            </div>
                                                            <div class="date">
                                                                <i class="fa fa-clock-o"></i>
                                                                از
                                                                <b>
                                                                    @Html.DisplayFor(model => item.StartMonth)

                                                                    @Html.DisplayFor(model => item.StartYear)

                                                                </b>
                                                                تا
                                                                <b>
                                                                    @Html.DisplayFor(model => item.EndMonth)

                                                                @Html.DisplayFor(model => item.EndYear)
                                                            </b>
                                                        </div>
                                                        <p class="u-mT5">
                                                            @Html.DisplayFor(model => item.Description)

                                                        </p>
                                                    </li>
                                                }
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="u-pT20">
                                        <h2>مهارت&zwnj;ها</h2>
                                        <div>
                                            <ul>

                                                @Html.DisplayFor(model => model.Rezome.Skills)

                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="u-pT20">
                                        <h2>سوابق تحصیلی</h2>
                                        <div>
                                            <ul>
                                                @foreach (var item2 in Model.Rezome.Educationalbackgrounds)
                                                {
                                                    <li>
                                                        <span class="title">@item2.EducationFeild</span>
                                                        <div class="place">
                                                            <i class="fa fa-building"></i>
                                                            @item2.CollageName
                                                        </div>
                                                        <div class="date">
                                                            <i class="fa fa-clock-o"></i>
                                                            از
                                                            <b>
                                                                @item2.StartDate
                                                            </b>
                                                            <b>
                                                                تا
                                                                @item2.EndDate
                                                            </b>
                                                        </div>
                                                        <p class="u-mT5">

                                                        </p>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="u-pT20">
                                        <h2>زبان&zwnj;های مسلط</h2>
                                        <div>
                                            <ul>
                                                @foreach (var item3 in Model.Rezome.Lanquege)
                                                {
                                                    <li>
                                                        <span class="title">
                                                            @Html.DisplayFor(model => item3.LanName)

                                                        </span>
                                                        <span class="level">
                                                            (@Html.DisplayFor(model => item3.Level)                                                            )
                                                        </span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                @*<div class="col-xs-12">
                        <div class="c-cvPrint__updatedOn">
                            به روز شده در
                            ۱۳۹۹/۰۳/۲۶
                            ،
                            کد GH-2397261
                        </div>
                    </div>*@
            </div>
            <div class="c-cvPrint__qrCode u-clearFix">
                <img style="border-radius: 3px" src="https://jobinja.ir/app/cv-builder/qr-code-gen/AE6P.jpg?b_r=51&amp;b_g=51&amp;b_b=51&amp;f_r=220&amp;f_g=220&amp;f_b=220&amp;type=negative" alt="Scan the code">
            </div>
            <div class="u-printOnly u-clearFix">
                <h4 class="u-textCenter">جابینجا | سریع&zwnj;ترین و به&zwnj;صرفه&zwnj;ترین ابزار استخدامی</h4>
                <h4 class="u-textCenter">
                    https://jobinja.ir
                </h4>
            </div>
        </div>
    </div>
</div>